@{
    ViewBag.Title = CustomRes.Custom.ProtocolFolders;
}

<h2>@CustomRes.Custom.ProtocolFolders</h2>

@{Html.RenderPartial("_NewEntityBtn");}

<div>
    @Html.Action("Grid")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/gridmvc")
}
@section jslaunch {
    <script type="text/javascript">
$(function () {
    grid_init("@Url.Action("GetProtocolFoldersList", "ProtocolFolders")")

    var detailsUrl = '@Url.Action("Edit", "ProtocolFolders")';
    pageGrids.ordersGrid.onRowSelect(function (e) {
    window.location.href = detailsUrl  + '/' + e.row.Id;
    });
});
    </script>
}