@model List<RapidDoc.Models.ViewModels.DocumentBaseView>
@using RapidDoc.Extensions;
@{
    Layout = null;

}
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    @{int num = 0;}
    @switch ((RapidDoc.Models.Repository.OrderFilterType)Enum.ToObject(typeof(RapidDoc.Models.Repository.OrderFilterType), @ViewBag.FilterType))
    {

        case RapidDoc.Models.Repository.OrderFilterType.Initiator:

            foreach (var itemGroup in Model.GroupBy(x => x.UserName))
            {

                num++;
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading@num">
                        <p class="panel-title"><a href="#collapseArea_@num" data-toggle="collapse" data-target="#collapseArea_@num" aria-expanded="false" aria-controls="collapseArea_@num"><strong>@itemGroup.Key</strong></a></p>
                    </div>
                    <div class="panel-collapse collapse" id="collapseArea_@num">
                        <div class="panel-body">
                            @foreach (var item in Model.Where(x => x.UserName == itemGroup.Key))
                            {
                                <p>
                                    @Html.ActionLink(item.DocumentNum + " - " + item.ProcessName + " (" + item.CreatedDate + ") => " + item.DocumentState.GetDescription()
                                     , "ShowDocument", "Document", new { id = item.Id, isAfterView = true }, new { target = "_blank" })
                                </p>
                            }
                        </div>
                    </div>
                </div>
            }
            break;
        case RapidDoc.Models.Repository.OrderFilterType.Department:
            foreach (var itemGroup in Model.GroupBy(x => x.DepartmentName))
            {
                num++;
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading@num">
                        <p class="panel-title"><a href="#collapseArea_@num" data-toggle="collapse" data-target="#collapseArea_@num" aria-expanded="false" aria-controls="collapseArea_@num"><strong>@itemGroup.Key</strong></a></p>
                    </div>
                    <div class="collapse" id="collapseArea_@num">
                        <div class="panel-body">
                            @foreach (var item in Model.Where(x => x.DepartmentName == itemGroup.Key))
                            {
                                <p>@Html.ActionLink(item.DocumentNum + " - " + item.ProcessName + " (" + item.CreatedDate + ")", "ShowDocument", "Document", new { id = item.Id, isAfterView = true }, new { target = "_blank" })</p>
                            }
                        </div>
                    </div>
                </div>
            }
            break;
        case RapidDoc.Models.Repository.OrderFilterType.NumberOrder:
            foreach (var itemGroup in Model.GroupBy(x => x.OrderNumber).Where(y => !String.IsNullOrEmpty(y.Key)))
            {
                num++;
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading@num">
                        <p class="panel-title"><a href="#collapseArea_@num" data-toggle="collapse" data-target="#collapseArea_@num" aria-expanded="false" aria-controls="collapseArea_@num"><strong>@itemGroup.Key</strong></a></p>
                    </div>
                    <div class="collapse" id="collapseArea_@num">
                        <div class="panel-body">
                            @foreach (var item in Model.Where(x => x.OrderNumber == itemGroup.Key))
                            {
                                <p>@Html.ActionLink(item.DocumentNum + " - " + item.ProcessName + " - " + item.DocumentTitle + " (" + item.CreatedDate + ")", "ShowDocument", "Document", new { id = item.Id, isAfterView = true }, new { target = "_blank" })</p>
                            }
                        </div>
                    </div>
                </div>
            }
            break;
        case RapidDoc.Models.Repository.OrderFilterType.Topic:
            foreach (var itemGroup in Model.GroupBy(x => x.DocumentTitle))
            {
                num++;
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading@num">
                        <p class="panel-title"><a href="#collapseArea_@num" data-toggle="collapse" data-target="#collapseArea_@num" aria-expanded="false" aria-controls="collapseArea_@num"><strong>@itemGroup.Key</strong></a></p>
                    </div>
                    <div class="collapse" id="collapseArea_@num">
                        <div class="panel-body">
                            @foreach (var item in Model.Where(x => x.DocumentTitle == itemGroup.Key))
                            {
                                <p>@Html.ActionLink(item.DocumentNum + " - " + item.ProcessName + " (" + item.CreatedDate + ")", "ShowDocument", "Document", new { id = item.Id, isAfterView = true }, new { target = "_blank" })</p>
                            }
                        </div>
                    </div>
                </div>
            }
            break;
    }
</div>


