@model List<RapidDoc.Models.ViewModels.DocumentBaseProtocolProlongTasksView>
@using RapidDoc.Extensions;

@{
    Layout = null;

}
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    @{int num = 0, num1 = 0;}
    @switch ((RapidDoc.Models.Repository.ProtocolFilterType)Enum.ToObject(typeof(RapidDoc.Models.Repository.ProtocolFilterType), @ViewBag.FilterType))
    {
        case RapidDoc.Models.Repository.ProtocolFilterType.ProlongTaskStatus:
            foreach (var itemGroupDepartment in Model.GroupBy(x => x.DepartmentName))
            {
                num++;
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading@num">
                        <p class="panel-title"><a data-toggle="collapse" data-target="#collapseArea_@num" aria-expanded="false" aria-controls="collapseArea_@num"><strong>@itemGroupDepartment.Key</strong></a></p>
                    </div>
                    <div class="collapse" id="collapseArea_@num">
                        <div class="panel-body">
                            @foreach (var itemGroupStatus in Model.Where(x => x.DepartmentName == itemGroupDepartment.Key).GroupBy(x => x.TaskStatus).Distinct())
                            {
                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="heading@itemGroupStatus.Key@num">
                                            <p class="panel-title">
                                                <a data-toggle="collapse" data-target="#collapseArea_@itemGroupStatus.Key@num" aria-expanded="false" aria-controls="collapseArea_@itemGroupStatus.Key@num">
                                                    <strong>@Html.EnumToDescription(itemGroupStatus.Key)</strong>
                                                </a>
                                            </p>
                                        </div>
                                        <div class="collapse" id="collapseArea_@itemGroupStatus.Key@num">
                                            <div class="panel-body">
                                                @foreach (var itemGroupUserName in Model.Where(x => x.DepartmentName == itemGroupDepartment.Key && x.TaskStatus == itemGroupStatus.Key).GroupBy(x => x.UserName))
                                                {
                                                    num1++;
                                                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                                        <div class="panel panel-default">
                                                            <div class="panel-heading" role="tab" id="heading@num1@itemGroupStatus.Key@num">
                                                                <p class="panel-title">
                                                                    <a data-toggle="collapse" data-target="#collapseArea_@num1@itemGroupStatus.Key@num" aria-expanded="false" aria-controls="collapseArea_@num1@itemGroupStatus.Key@num">
                                                                        <strong>@itemGroupUserName.Key</strong>
                                                                    </a>
                                                                </p>
                                                            </div>
                                                            <div class="collapse" id="collapseArea_@num1@itemGroupStatus.Key@num">
                                                                <div class="panel-body">
                                                                    @foreach (var task in Model.Where(x => x.DepartmentName == itemGroupDepartment.Key && x.TaskStatus == itemGroupStatus.Key && x.UserName == itemGroupUserName.Key))
                                                                    {
                                                                        <p>
                                                                            @if (task.TaskStatus == RapidDoc.Models.Repository.ProtocolProlongTaskDocumentBaseStatus.Executed)
                                                                            {
                                                                                <span class="fa fa-check text-success"></span>
                                                                            }
                                                                            <a href="@Url.Action("ShowDocument", "Document", new { id = task.Id, isAfterView = true })" target="_blank"><ins>@task.DocumentNum</ins> (@task.CreatedDate)</a>
                                                                        </p>
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
            break;
        case RapidDoc.Models.Repository.ProtocolFilterType.ProlongTaskExecutor:
            foreach (var itemGroupUser in Model.GroupBy(x => x.UserName))
            {
                num++;
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading@num">
                        <p class="panel-title"><a data-toggle="collapse" data-target="#collapseArea_@num" aria-expanded="false" aria-controls="collapseArea_@num"><strong>@itemGroupUser.Key</strong></a></p>
                    </div>
                    <div class="collapse" id="collapseArea_@num">
                        <div class="panel-body">
                        @foreach (var task in Model.Where(x => x.UserName == itemGroupUser.Key))
                        {
                            <p>
                                @if (task.TaskStatus == RapidDoc.Models.Repository.ProtocolProlongTaskDocumentBaseStatus.Executed)
                                {
                                    <span class="fa fa-check text-success"></span>
                                }
                                <a href="@Url.Action("ShowDocument", "Document", new { id = task.Id, isAfterView = true })" target="_blank"><ins>@task.DocumentNum</ins> (@task.CreatedDate)</a>
                            </p>
                        }
                        </div>
                    </div>
                </div>
            }
            break;
        case RapidDoc.Models.Repository.ProtocolFilterType.ProlongTaskChairman:
            foreach (var itemGroupUser in Model.GroupBy(x => x.UserName))
            {
                num++;
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading@num">
                        <p class="panel-title"><a data-toggle="collapse" data-target="#collapseArea_@num" aria-expanded="false" aria-controls="collapseArea_@num"><strong>@itemGroupUser.Key</strong></a></p>
                    </div>
                    <div class="collapse" id="collapseArea_@num">
                        <div class="panel-body">                    
                        @foreach (var task in Model.Where(x => x.UserName == itemGroupUser.Key))
                        {
                            <p>
                                @if (task.TaskStatus == RapidDoc.Models.Repository.ProtocolProlongTaskDocumentBaseStatus.Executed)
                                {
                                    <span class="fa fa-check text-success"></span>
                                }
                                <a href="@Url.Action("ShowDocument", "Document", new { id = task.Id, isAfterView = true })" target="_blank"><ins>@task.DocumentNum</ins> (@task.CreatedDate)</a>
                            </p>
                        }
                        </div>
                    </div>
                </div>
            }
            break;
    }
</div>