@using RapidDoc.Models.DomainModels;
@using RapidDoc.Models.ViewModels;
@using RapidDoc.Models.Repository;
@using RapidDoc.Extensions;
@model dynamic
@{
    Layout = null;
    int numDecision = 0;
    int numTwoDecision = 0;
    int numThreeDecision = 0;
    int numQuestion = 0;
    int prevDecisionType = 0;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>PdfReportCZ</title>
    <style type="text/css">
        body {
            text-rendering: geometricPrecision;
        }
        p {
            margin: 0;
            text-align: justify;
        }
        .container {
            height: auto;
            overflow: hidden;
        }
    </style>
</head>
<body>
    <div>
        <br />
        <table width="900">
            <tr>
                <td align="right">
                    <img src="@Url.Content(String.Format("~/Content/Custom/image-icon/logo-{0}.png", ViewBag.CompanyAliasName))">
                </td>
            </tr>
        </table>
        <br />
        <table width="900" cellpadding="7" cellspacing="0">
            <tr>
                <td style="width:10%; vertical-align:top;">
                    <font size="4" face="Times New Roman">
                        <span><strong>ХАТТАМА</strong></span>
                    </font>
                </td>
                <td style="width:10%; vertical-align:top; text-align:right">
                    <font size="4" face="Times New Roman">
                        <span><strong>ПРОТОКОЛ</strong></span>
                    </font>
                </td>
            </tr>
        </table>
        <br />
        <h4 align="center">
            <strong>
                <font size="4" face="Times New Roman">
                    @Model.Subject
                </font>
            </strong>
        </h4>
        <table width="900">
            <tr>
                <td style="width:10%; vertical-align:top;">
                    <font size="4" face="Times New Roman">
                        <span><strong>Папка:</strong></span>
                    </font>
                </td>
                <td style="width:10%; vertical-align:top;">
                    <font size="4" face="Times New Roman">
                        <span><strong>Место проведения:</strong></span>
                    </font>
                </td>
            </tr>
            <tr>
                <td>
                    <font size="4" face="Times New Roman">
                        <span style="white-space: pre-line;">@ViewBag.FolderText </span>
                    </font>
                </td>
                <td>
                    <font size="4" face="Times New Roman">
                        <span style="white-space: pre-line;">@Model.Location</span>
                    </font>
                </td>
            </tr>
        </table>
        <hr />
        <table width="900">
            <tr>               
                <td style="width:10%; vertical-align:top;">
                    <font size="4" face="Times New Roman">
                        <span><strong>Председатель:</strong></span>
                    </font>
                </td>
                @if (@ViewBag.ListAttended != null && ((List<string>)@ViewBag.ListAttended).Count > 0)
                {
                    <td style="width:10%; vertical-align:top;">
                        <font size="4" face="Times New Roman">
                            <span><strong>Присутствовали:</strong></span>
                        </font>
                    </td>
                }
            </tr>
            <tr>              
                <td style="vertical-align:top;">
                    <font size="4" face="Times New Roman">
                        <span style="white-space: pre-line;">@ViewBag.Chairman (@ViewBag.ChairmanTitle)</span>
                    </font>
                </td>
                @if (@ViewBag.ListAttended != null && ((List<string>)@ViewBag.ListAttended).Count > 0)
                {
                    <td>
                        @foreach (string attended in @ViewBag.ListAttended)
                        {
                            <font size="4" face="Times New Roman">
                                <span style="white-space: pre-line;">@attended</span>
                            </font>
                            <br />
                        }
                    </td>
                }
            </tr>
            <tr>
                <td style="width:10%; vertical-align:top;">
                    <font size="4" face="Times New Roman">
                        <span><strong>Секретарь:</strong></span>
                    </font>
                </td>
                @if (@ViewBag.ListInvited != null && ((List<string>)@ViewBag.ListInvited).Count > 0)
                {
                    <td style="vertical-align:top;">
                        <font size="4" face="Times New Roman">
                            <span><strong>Приглашенные:</strong></span>
                        </font>
                    </td>
                }
            </tr>
            <tr>
                <td style="vertical-align:top;">
                    <font size="4" face="Times New Roman">
                        <span style="white-space: pre-line;">
                            @ViewBag.UserCreateName (@ViewBag.UserCreateTitleName)
                        </span>
                    </font>
                </td>
                @if (@ViewBag.ListInvited != null && ((List<string>)@ViewBag.ListInvited).Count > 0)
                {
                    <td>
                        @foreach (string invited in @ViewBag.ListInvited)
                        {
                            <font size="4" face="Times New Roman">
                                <span style="white-space: pre-line;">@invited</span>
                            </font>
                            <br />
                        }
                    </td>
                }            
            </tr>
            <tr>
                <td style="width:10%; vertical-align:top;">
                    
                </td>              

                @if (@ViewBag.ListAbsent != null && ((List<string>)@ViewBag.ListAbsent).Count > 0)
                {
                    <td>
                        <font size="4" face="Times New Roman">
                            <span><strong>Отсутствовали:</strong></span>
                        </font>
                    </td>
                }
            </tr>
            <tr>
                <td>
                    
                </td>
                
                @if (@ViewBag.ListAbsent != null && ((List<string>)@ViewBag.ListAbsent).Count > 0)
                {
                    <td>
                        @foreach (string absent in @ViewBag.ListAbsent)
                        {
                            <font size="4" face="Times New Roman">
                                <span style="white-space: pre-line;">@absent</span>
                            </font>
                            <br />
                        }
                    </td>
                }
            </tr>
        </table>
        <hr />
        <table width="900">
            <tr>
                <td style="width:10%; vertical-align:top;">
                    <font size="4" face="Times New Roman">
                        <span><strong>Повестка:</strong></span>
                    </font>
                </td>
                <td>
                    <p style="text-align: justify;">
                        <font size="4" face="Times New Roman">
                            <strong><span style="white-space: pre-line;">@Model.Agenda</span></strong>
                        </font>
                    </p>
                </td>
            </tr>
        </table>
        <hr />       
        @if (Model.QuestionList != null && ((List<RapidDoc.Models.DomainModels.PRT_QuestionList_Table>)Model.QuestionList).Count > 0)
        {
            <font size="4" face="Times New Roman">
                <span><strong>Список вопросов:</strong></span>
            </font>
            <br />
            <br />
            foreach (PRT_QuestionList_Table querstion in Model.QuestionList)
            {
                prevDecisionType = 0;
                <div class="container">
                @if (!String.IsNullOrEmpty(querstion.Question))
                {
                    numQuestion++;
                    <div style="width:15%; vertical-align:top; float:left;">
                        <font size="4" face="Times New Roman">
                            <strong>Вопрос №@numQuestion.ToString()</strong>
                        </font>
                    </div>
                    <div style="width:85%; float:right;">
                        <font size="4" face="Times New Roman">
                            @Html.Raw(@querstion.Question)
                        </font>
                    </div>
                }
                </div>

                <div class="container">
                @foreach (PRT_DecisionList_Table decision in querstion.DecisionList)
                {
                    if (decision.Type == 0)
                    {
                        numDecision++;
                        <div style="width:83%; float:right;">
                            <font size="4" face="Times New Roman">
                                <br />
                                <strong>ПОРУЧЕНИЕ №@numDecision.ToString()</strong>
                            </font>
                            <br />
                            <font size="4" face="Times New Roman">
                                @Html.Action("ProtocolDecisionText", "Custom", new { model = decision })
                            </font>
                        </div>
                    }
                    else if (decision.Type == 1)
                    {
                        if (decision.Type != prevDecisionType)
                        {
                            <div style="width:83%; float:right;">
                                <font size="4" face="Times New Roman">
                                    <br />
                                    <strong>РЕШЕНИЕ:</strong>
                                </font>
                            </div>
                        }
                        numTwoDecision++;
                        <div style="width:83%; float:right;">
                            <div class="container">
                                <div style="width:3%; vertical-align:top; float:left;">
                                    <font size="4" face="Times New Roman">
                                        <strong class="text-uppercase" style="white-space: nowrap;">@numTwoDecision.ToString().</strong>
                                    </font>
                                </div>
                                <div style="width:97%; float:right;">
                                    <font size="4" face="Times New Roman">
                                        @Html.Action("ProtocolDecisionText", "Custom", new { model = decision })
                                    </font>
                                </div>
                            </div>
                        </div>
                    }
                    else if (decision.Type == 2)
                    {
                        numThreeDecision++;
                        <div style="width:83%; float:right;">
                            <font size="4" face="Times New Roman">
                                <br />
                                <strong>РЕКОМЕНДОВАНО РУКОВОДСТВУ:</strong>
                            </font>
                        </div>
                        <div style="width:83%; float:right;">
                            <div class="container">
                                <div style="width:3%; vertical-align:top; float:left;">
                                    <font size="4" face="Times New Roman">
                                        <strong class="text-uppercase" style="white-space: nowrap;">@numThreeDecision.ToString().</strong>
                                    </font>
                                </div>
                                <div style="width:97%; float:right;">
                                    <font size="4" face="Times New Roman">
                                        @Html.Action("ProtocolDecisionText", "Custom", new { model = decision })
                                    </font>
                                </div>
                            </div>
                        </div>
                    }

                    prevDecisionType = decision.Type;
                }
                </div>
                <br />
            }
        }
        @if (((List<FileTable>)ViewBag.ListFiles).Count > 0)
        {
            <p>
                <strong>
                    <font size="4" face="Times New Roman">
                        Вложенные файлы:
                    </font>
                </strong>
            </p>
            foreach (FileTable file in ViewBag.ListFiles)
            {
                <p>
                    <font size="4" face="Times New Roman">
                        @file.FileName
                    </font>
                </p>
            }
        }   
        <font size="4" face="Times New Roman">
            @Html.Raw(Model.Addition)
        </font>
        <br /> 
        @if (((List<WFTrackerListView>)ViewBag.Tracker).Count > 0)
        {
            foreach (WFTrackerListView tracker in ViewBag.Tracker)
            {
                <ul>
                    <li>
                        <font size="4" face="Times New Roman">
                            @tracker.Executors - @tracker.ActivityName (@tracker.SignDate) -

                            @if (tracker.TrackerType == RapidDoc.Models.Repository.TrackerType.Approved)
                            {
                                @UIElementRes.UIElement.Yes
                                if (tracker.Comments != null && tracker.Comments != String.Empty)
                                {
                                    <span><em>(@tracker.Comments)</em></span>
                                }
                            }
                            @if (tracker.TrackerType == RapidDoc.Models.Repository.TrackerType.Cancelled)
                            {
                                @UIElementRes.UIElement.No
                                if (tracker.Comments != null && tracker.Comments != String.Empty)
                                {
                                    <span><em>( @tracker.Comments )</em></span>
                                }
                            }
                        </font>
                    </li>
                </ul>
            }
        }

        @if (Model.Duration != null && Model.Duration != String.Empty)
        {
            <font size="4" face="Times New Roman">
                <span><strong>Время проведения совещания - @Model.Duration</strong></span>
            </font>
        }
        
        @if (ViewBag.TaskModel != null)
        {
            <br />
            <br />
            foreach (TaskDelegationView item in ViewBag.TaskModel)
            {
                <p>
                    <strong>
                        @if (item.DocumentState == RapidDoc.Models.Repository.DocumentState.Closed)
                        {
                            <text>[Выполнено]</text>
                        }
                        else if (item.DocumentState == RapidDoc.Models.Repository.DocumentState.Cancelled)
                        {
                            <text>[Отменено]</text>
                        }
                        @item.DocumentNum - @item.UserCreate (<small>@item.DateCreate.ToShortDateString()</small>)
                    </strong>
                </p>
                <p>
                    @FieldNameRes.FieldNameResource.Executor: @Html.HtmlDisplayTags(item.Users) Срок: @Html.FormatValue(item.ExecutionDate, "{0:dd.MM.yyyy}")
                    @if (item.ProlongationDate != null)
                    {
                        <span>Продление: @Html.FormatValue(item.ProlongationDate, "{0:dd.MM.yyyy}")</span>
                    }
                </p>
                <p>
                    <span>@item.DocumentText.Substring(0, ((int)Math.Min(item.DocumentText.Length, 100))) ...</span>
                </p>
                <p>
                    <em>@Html.Raw(item.ReportText)</em>
                </p>
                <hr />
                <br />
            }
        }
</div>
</body>
</html>
