@using RapidDoc.Models.DomainModels;
@using RapidDoc.Models.ViewModels;
@using RapidDoc.Models.Repository;
@using RapidDoc.Extensions;
@model dynamic
@{
    Layout = null;
    int numDecision = 0;
    int numQuestion = 0;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PdfReportCZ</title>
</head>
<body>
    <div>
        <br />
        <table width="900">
            <tr>
                <td align="right">
                    <img src="@Url.Content("~/Content/Custom/image-icon/Logo.png")">
                </td>
            </tr>
        </table>
        <br />
        <table width="900" cellpadding="7" cellspacing="0">
            <tr>
                <td style="width:10%; vertical-align:top;">
                    <font size="4" face="Arial">
                        <span><strong>ХАТТАМА</strong></span>
                    </font>
                </td>
                <td style="width:10%; vertical-align:top; text-align:right">
                    <font size="4" face="Arial">
                        <span><strong>ПРОТОКОЛ</strong></span>
                    </font>
                </td>
            </tr>
        </table>
        <br />
        <h4 align="center">
            <strong>
                <font size="4" face="Arial">
                    @Model.Subject
                </font>
            </strong>
        </h4>
        <table width="900">
            <tr>
                <td style="width:10%; vertical-align:top;">
                    <font size="4" face="Arial">
                        <span><strong>Папка:</strong></span>
                    </font>
                </td>
                <td style="width:10%; vertical-align:top;">
                    <font size="4" face="Arial">
                        <span><strong>Место проведения:</strong></span>
                    </font>
                </td>
            </tr>
            <tr>
                <td>
                    <font size="4" face="Arial">
                        <span style="white-space: pre-line;">@ViewBag.FolderText </span>
                    </font>
                </td>
                <td>
                    <font size="4" face="Arial">
                        <span style="white-space: pre-line;">@Model.Location</span>
                    </font>
                </td>
            </tr>
        </table>
        <hr />
        <table width="900">
            <tr>               
                <td style="width:10%; vertical-align:top;">
                    <font size="4" face="Arial">
                        <span><strong>Председатель:</strong></span>
                    </font>
                </td>
                @if (@ViewBag.ListAttended != null && ((List<string>)@ViewBag.ListAttended).Count > 0)
                {
                    <td style="width:10%; vertical-align:top;">
                        <font size="4" face="Arial">
                            <span><strong>Присутствовали:</strong></span>
                        </font>
                    </td>
                }
            </tr>
            <tr>              
                <td style="vertical-align:top;">
                    <font size="4" face="Arial">
                        <span style="white-space: pre-line;">@ViewBag.Chairman (@ViewBag.ChairmanTitle)</span>
                    </font>
                </td>
                @if (@ViewBag.ListAttended != null && ((List<string>)@ViewBag.ListAttended).Count > 0)
                {
                    <td>
                        @foreach (string attended in @ViewBag.ListAttended)
                        {
                            <font size="4" face="Arial">
                                <span style="white-space: pre-line;">@attended</span>
                            </font>
                            <br />
                        }
                    </td>
                }
            </tr>
            <tr>
                <td style="width:10%; vertical-align:top;">
                    <font size="4" face="Arial">
                        <span><strong>Секретарь:</strong></span>
                    </font>
                </td>
                @if (@ViewBag.ListInvited != null && ((List<string>)@ViewBag.ListInvited).Count > 0)
                {
                    <td>
                        <font size="4" face="Arial">
                            <span><strong>Приглашенные:</strong></span>
                        </font>
                    </td>
                }
            </tr>
            <tr>
                <td style="vertical-align:top;">
                    <font size="4" face="Arial">
                        <span style="white-space: pre-line;">
                            @ViewBag.UserCreateName (@ViewBag.UserCreateTitleName)
                        </span>
                    </font>
                </td>
                @if (@ViewBag.ListInvited != null && ((List<string>)@ViewBag.ListInvited).Count > 0)
                {
                    <td>
                        @foreach (string invited in @ViewBag.ListInvited)
                        {
                            <font size="4" face="Arial">
                                <span style="white-space: pre-line;">@invited</span>
                            </font>
                            <br />
                        }
                    </td>
                }            
            </tr>
            <tr>
                <td style="width:10%; vertical-align:top;">
                    
                </td>              

                @if (@ViewBag.ListAbsent != null && ((List<string>)@ViewBag.ListAbsent).Count > 0)
                {
                    <td>
                        <font size="4" face="Arial">
                            <span><strong>Отсутствовали:</strong></span>
                        </font>
                    </td>
                }
            </tr>
            <tr>
                <td>
                    
                </td>
                
                @if (@ViewBag.ListAbsent != null && ((List<string>)@ViewBag.ListAbsent).Count > 0)
                {
                    <td>
                        @foreach (string absent in @ViewBag.ListAbsent)
                        {
                            <font size="4" face="Arial">
                                <span style="white-space: pre-line;">@absent</span>
                            </font>
                            <br />
                        }
                    </td>
                }
            </tr>
        </table>
        <hr />
        <table width="900">
            <tr>
                <td style="width:10%; vertical-align:top;">
                    <font size="4" face="Arial">
                        <span><strong>Повестка:</strong></span>
                    </font>
                </td>
            </tr>
            <tr>
                <td>
                    <font size="4" face="Arial">
                        <span style="white-space: pre-line;">@Model.Agenda</span>
                    </font>
                </td>
            </tr>
        </table>
        <hr />       
        @if (Model.QuestionList != null && ((List<RapidDoc.Models.DomainModels.PRT_QuestionList_Table>)Model.QuestionList).Count > 0)
        {
            <font size="4" face="Arial">
                <span><strong>Список вопросов:</strong></span>
            </font>
            <br />
            <br />         
            foreach (PRT_QuestionList_Table querstion in Model.QuestionList)
            {
                <table width="900" style="table-layout: fixed">
                    <tr style="page-break-inside: avoid">
                        @if(!String.IsNullOrEmpty(querstion.Question))
                        {
                            numQuestion++;
                        <td style="width:150px; vertical-align:top;">
                            <font size="4" face="Arial">
                                <strong>Вопрос №@numQuestion.ToString()</strong>
                            </font>
                        </td>
                        }
                        <td>
                            <font size="4" face="Arial">
                                @Html.Raw(@querstion.Question)
                            </font>
                        </td>
                    </tr>
                </table>
            
                <tabel>
                @if (querstion.DecisionList.Where(x => x.Type == true).Count() > 0)
                {
                    <tr style="page-break-inside: avoid">
                        <td style="width:30px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td style="width:150px; vertical-align:top;">
                            <font size="4" face="Arial">
                                <strong>РЕШЕНИЕ:</strong>
                            </font>
                        </td>
                    </tr>
                }
                </tabel>

                <table>
                    @foreach (PRT_DecisionList_Table decision in querstion.DecisionList.Where(x => x.Type == true))
                    {
                        numDecision++;
                        <tr style="page-break-inside: avoid">
                            <td style="width:30px"></td>
                            <td style="vertical-align:top; text-align:left">
                                <font size="4" face="Arial">
                                    <strong class="text-uppercase" style="white-space: nowrap;">@numDecision.ToString().</strong>
                                </font>
                            </td>
                            <td>
                                <font size="4" face="Arial">
                                    @Html.Action("ProtocolDecisionText", "Custom", new { model = decision })
                                </font>
                            </td>
                        </tr>
                    }
                </table>
                
                <table>
                    @{ numDecision = 0;}
                    @foreach (PRT_DecisionList_Table decision in querstion.DecisionList.Where(x => x.Type == false))
                    {
                        numDecision++;
                        @*<tr style="page-break-inside: avoid">
                            <td style="width:15px"></td>
                            <td style="width:150px; vertical-align:top;">
                                <font size="4" face="Arial">
                                    
                                </font>
                            </td>
                        </tr>*@
                        <tr style="page-break-inside: avoid">
                            <td style="width:40px">
                            </td>
                            <td style="display:table-row-group">
                                <font size="4" face="Arial"><strong>ПОРУЧЕНИЕ №@numDecision.ToString()</strong>
                                </font>
                                <br />
                                <font size="4" face="Arial">                               
                                    @Html.Action("ProtocolDecisionText", "Custom", new { model = decision })
                                </font>
                            </td>
                        </tr>
                    }
                </table>
                <br />
                    numDecision = 0;

            }
        }
        <br />
        <table width="900">
            @if (((List<FileTable>)ViewBag.ListFiles).Count > 0)
            { 
                <tr>
                    <td align="left">
                        <strong>
                            <font size="4" face="Arial">
                                Вложенные файлы:
                            </font>
                        </strong>
                    </td>
                </tr>
                foreach (FileTable file in ViewBag.ListFiles)
                {
                    <tr>
                               
                            <td align="left">
                                <font size="4" face="Arial">                           
                                        @file.FileName                          
                                </font>
                            </td>
                    
                    </tr>
                }
                <tr>
                    <td>
                        <br />
                    </td>
                </tr>
            }   
        </table>   
        <table width="900">
            @if (((List<WFTrackerListView>)ViewBag.Tracker).Count > 0)
            {
                foreach (WFTrackerListView tracker in ViewBag.Tracker)
                {
                    <tr>
                        <td align="left">
                            <ul>
                                <li>
                                    <font size="4" face="Arial">
                                        @tracker.Executors - @tracker.ActivityName (@tracker.SignDate) -

                                        @if (tracker.TrackerType == RapidDoc.Models.Repository.TrackerType.Approved)
                                        {
                                            @UIElementRes.UIElement.Yes
                                            if (tracker.Comments != null && tracker.Comments != String.Empty)
                                            {
                                                <span><em>(@tracker.Comments)</em></span>
                                            }
                                        }
                                        @if (tracker.TrackerType == RapidDoc.Models.Repository.TrackerType.Cancelled)
                                        {
                                            @UIElementRes.UIElement.No
                                            if (tracker.Comments != null && tracker.Comments != String.Empty)
                                            {
                                                <span><em>( @tracker.Comments )</em></span>
                                            }
                                        }
                                    </font>
                                </li>
                            </ul>
                        </td>
                    </tr>
                }
            }
        </table>
        @if (Model.Duration != null && Model.Duration != String.Empty)
        {        
            <font size="4" face="Arial">
                <span><strong>Время проведения совещания - @Model.Duration</strong></span>
            </font>   
        }
</div>
</body>
</html>
