@using RapidDoc.Models.DomainModels;
@using RapidDoc.Models.ViewModels;
@using RapidDoc.Models.Repository;
@using RapidDoc.Extensions;
@model dynamic
@{
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PdfReportCZ</title>
</head>
<body>
    <div>
        <br />
        <table width="900">
            <tr>
                <td align="right">
                    <img src="@Url.Content("~/Content/Custom/image-icon/Logo.png")">
                </td>
            </tr>
        </table>
        <br />
        <br /> 
        <h4 align ="center">
            <strong>
                <font size="4" face="Arial">
                    СЛУЖЕБНАЯ ЗАПИСКА <a href="@String.Format("http://" + System.Configuration.ConfigurationManager.AppSettings.Get("WebSiteUrl").ToString() + "/{0}/Document/ShowDocument/{1}?isAfterView=true", ViewBag.AliasCompanyName, ViewBag.Id)">@ViewBag.DocumentNum</a><br />
                </font>
            </strong>
        </h4>
        <h5 align="right">@Html.EnumToDescription("RapidDoc.Models.Repository.Folder", (string)(Model.Folder.ToString())) / @ViewBag.Process.ProcessName / @Model.ItemCauseNumber / @ViewBag.UserCreated.ShortFullNameType2</h5>
        <table width="900">
            <tr>
                <td style="width:10%; vertical-align:top;">
                    <font size="4" face="Arial">
                        <span><strong>Кому:</strong></span>
                    </font>
                </td>
                <td>
                    <font size="4" face="Arial">
                        <span style="white-space: pre-line;">@Model.Whom</span>
                    </font>
                </td>
            </tr>
            <tr>
                <td style="width:10%; vertical-align:top;">
                    <font size="4" face="Arial">
                        <span><strong>Копия:</strong></span>
                    </font>
                </td>
                <td>
                    <font size="4" face="Arial">
                        <span style="white-space: pre-line;">@Model.DocumentCopy</span>
                    </font>
                </td>
            </tr>
            <tr>
                <td style="width:10%;">
                    <font size="4" face="Arial">
                        <span><strong>От кого:</strong></span>
                    </font>
                </td>
                <td>
                    <font size="4" face="Arial">
                        <span style="white-space: pre-line;">@Model.FromWhom</span>
                    </font>
                </td>
            </tr>
            <tr>
                <td style="width:10%;">
                    <font size="4" face="Arial">
                        <span><strong>Тема:</strong></span>
                    </font>
                </td>
                <td>
                    <font size="4" face="Arial">
                        <span style="white-space: pre-line;">@Model._DocumentTitle</span>
                    </font>
                </td>
            </tr>
        </table>
        <br />
        <font size="4" face="Arial">
            @Html.Raw(@Model.MainField)
        </font>
        <br />
        <br />
        <table width="900">
            @if (((List<FileTable>)ViewBag.ListFiles).Count > 0)
            { 
                <tr>
                    <td align="left">
                        <strong>
                            <font size="4" face="Arial">
                                Вложенные файлы:
                            </font>
                        </strong>
                    </td>
                </tr>
                foreach (FileTable file in ViewBag.ListFiles)
                {
                    <tr>
                               
                            <td align="left">
                                <font size="4" face="Arial">                           
                                        @file.FileName                          
                                </font>
                            </td>
                    
                    </tr>
                }
                <tr>
                    <td>
                        <br />
                    </td>
                </tr>
            }   
        </table>
        <table width="900">
            @if (((List<WFTrackerListView>)ViewBag.Tracker).Count > 0)
            {
                foreach (WFTrackerListView tracker in ViewBag.Tracker)
                {
                    <tr>
                        <td align="left">
                            <ul>
                                <li>
                                    <font size="4" face="Arial">
                                        @tracker.Executors - @tracker.ActivityName (@tracker.SignDate) - 
                                       
                                        @if (tracker.TrackerType == RapidDoc.Models.Repository.TrackerType.Approved)
                                        {
                                            @UIElementRes.UIElement.Yes
                                            if (tracker.Comments != null && tracker.Comments != String.Empty)
                                            {
                                                <span><em>(@tracker.Comments)</em></span>
                                            }
                                        }
                                        @if (tracker.TrackerType == RapidDoc.Models.Repository.TrackerType.Cancelled)
                                        {
                                            @UIElementRes.UIElement.No
                                            if (tracker.Comments != null && tracker.Comments != String.Empty)
                                            {
                                                <span><em>( @tracker.Comments )</em></span>
                                            }
                                        }
                                    </font>
                                </li>
                            </ul>
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
</body>
</html>
