@using RapidDoc.Extensions;

@model dynamic
@{
    Layout = null;
    string workers = Model.Workers;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PdfReportTrip</title>
</head>
<body>
    <div>
        <table>
            <tr>
                <td align="center">
                    <img src="@Url.Content("~/Content/Custom/image-icon/Logo.png")"></td>
                <td>

                </td>
                <td></td>
            </tr>
            <tr>
                <td>

                </td>
                <td >
                    <h4 align="left">
                        <strong>
                            <font size="4" face="Arial">
                               КОМАНДИРОВОЧНОЕ УДОСТОВЕРЕНИЕ №
                            </font>
                        </strong>
                    </h4>
                </td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <font size="4" face="Arial">
                        Командирован(а): @Html.HtmlDisplayTagsFor(model => workers, new { @row = true})<br />
                    </font>
                </td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <font size="4" face="Arial">
                        @if (Model.OrganizationTableId != null)
                        {
                            <div class="row">
                                Маршрут: @Html.Action("GetCountryORD", "Custom", new { id = Model.CountryTableId, selected = true })
                            </div>
                        }
                        else
                        {
                            <div class ="row">
                                Маршрут: @Html.DisplayText((string)Model.Country)
                            </div>
                        }
                    </font>
                </td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <font size="4" face="Arial">
                        Срок командировки: с @Model.StartDate.ToString("MM/dd/yyyy") по @Model.EndDate.ToString("MM/dd/yyyy")<br />
                    </font>
                </td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <font size="4" face="Arial">
                        Основание: № 
                        @if (Model.OrderNum != null)
                        { @Model.OrderNum} от @Html.FormatValue(Model.OrderDate, "{0:dd.MM.yyyy}")<br />
                    </font>
                </td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td colspan="2">
                    <font size="4" face="Arial">
                        Действителен по предъявлении паспорта<br />
                        серия №______________________________<br />
                        Уд. личности №________________________
                    </font>
                    <br />
                    <br />
                </td>
            </tr>


            <tr>
                <td colspan="3" align="center">
                    <font size="4" face="Arial">
                        Начальник отделения ___________________ <br/>
                    </font>
                    <br />
                    <br />
                </td>
            </tr>
            <tr>
                <td colspan="3" align="left">
                    <font size="4" face="Arial">
                        Отметки и прибытии в пункты назначения и выбытия из них:
                    </font>
                    <br />
                    <br />
                </td>
            </tr>

            @for(var i = 0; i < 5; i++)
            { 
                <tr>
                    <td>
                        <font size="4" face="Arial">
                            убыл    __________________   
                            <span style="padding-left:44px;">____________201__ г.</span>
                        </font>      
                    </td>
                    <td colspan ="2" align="center">
                        <font size="4" face="Arial">
                            <span style="padding-left:85px;">прибыл в    __________________</span><br />
                            <span style="padding-left:172px;">____________201__  г.</span>
                        </font>
                        <br />
                        <br />
                    </td>
                </tr>
            }

            <tr>
                <td colspan="3">
                    <font size="4" face="Arial">
                        ПРИМИЧЕНИЕ: При выезде в несколько пунктов отметки о прибытии и убытии делаются
                        отдельно в каждом из них
                    </font>
                </td>
            </tr>
        </table>      
    </div>
</body>
</html>
