@using RapidDoc.Models.DomainModels;
@using RapidDoc.Models.Repository;
@model dynamic
@{
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PdfReport</title>
    <style type="text/css">
        p {
            margin: 0;
            text-align: justify;
        }

        .container {
            height: auto;
            overflow: hidden;
        }
    </style>
</head>
<body>
    <div>
        <div style="border: 1px solid black; padding: 5px;">
            <br />
            <div class="container" style="width: 800px; text-align: right;">
                <div>
                    <img src="@Url.Content(String.Format("~/Content/Custom/image-icon/logo-{0}.png", ViewBag.CompanyAliasName))">
                </div>
            </div>
            <br />
            <h4 align="center">
                <strong>
                    <font size="4" face="Arial">
                        БҰЙРЫҚ<br /><br />
                        № @Model.OrderNum от @Model.OrderDate.ToShortDateString() г.<br /><br />
                    </font>
                </strong>
                <font size="4" face="Arial">
                    @Model.Subject
                </font>
            </h4>
            <font size="4" face="Arial">
                @Html.Raw(@Model.MainField)
            </font>
            <hr style="height:1px;border:none;color:#333;background-color:#333;" />
            <font size="4" face="Arial">
                @Html.Raw(@Model.MainFieldTranslate)
            </font>
            <br />
            <br />
            <div class="container" style="width: 800px; text-align: right;">
                <div style="width:60%; vertical-align:top; float:left; text-align: left;">
                    <strong>
                        <font size="4" face="Arial">
                            @Model.SignTitle
                        </font>
                    </strong>
                </div>
                <div style="width:40%; float:right;">
                    <strong>
                        <font size="4" face="Arial">
                            @Model.SignName
                        </font>
                    </strong>
                </div>
            </div>
        </div>
        <div class="container" style="width: 800px;">
            <div style="text-align: left;">
                <br />
                <font size="4" face="Arial">
                    @Html.Raw(Model.ListFileName)
                </font>
            </div>
        </div>

        @if (ViewBag.Acquainted == true)
        {
            <div class="container" style="width: 800px;">
                <div style="text-align: left;">
                    <br />
                    <font size="4" face="Arial">
                        Бұйрықпен таныстым:
                    </font>
                </div>
            </div>
            <div class="container" style="width: 800px;">
                <div style="text-align: left;">
                    <font size="4" face="Arial">
                        С приказом ознакомлен(а):
                    </font>
                </div>
            </div>
        }
        <br />
        @if ((DocumentState)ViewBag.DocState == DocumentState.Closed)
        {
            <div class="container" style="width: 800px;">
                <div style="text-align: left;">
                    <strong>
                        <font size="3" face="Arial">
                            Согласовано:
                        </font>
                    </strong>
                </div>
            </div>
            <br />
            foreach (EmplTable item in ViewBag.ListUsers)
            {
                <div class="container" style="width: 800px; text-align: right;">
                    <div style="width:50%; vertical-align:top; float:left; text-align: left;">
                        <font size="3" face="Arial">
                            @item.TitleName
                        </font>
                    </div>
                    <div style="width:50%; float:right;">
                        <font size="3" face="Arial">
                            @item.ShortFullNameType2
                        </font>
                    </div>
                </div>
            }
            <br />
        }
        <div class="container" style="width: 800px;">
            <div style="text-align: left;">
                <strong>
                    <font size="3" face="Arial">
                        Подготовлено:
                    </font>
                </strong>
            </div>
        </div>
        <br />
        <div class="container" style="width: 800px; text-align: right;">
            <div style="width:50%; vertical-align:top; float:left; text-align: left;">
                <font size="3" face="Arial">
                    @ViewBag.Department
                </font>
            </div>
            <div style="width:50%; float:right;">
                <font size="3" face="Arial">
                    @ViewBag.ManagerName
                </font>
            </div>
        </div>
    </div>
</body>
</html>
