@using RapidDoc.Models.DomainModels;
@using RapidDoc.Models.Repository;
@model dynamic
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>PdfReport</title>
    <style type="text/css">
        body {
            width: 22cm;       /* cm, in or mm make more sense for PDF */
            margin-left: 45px;
            text-rendering: geometricPrecision;
        }
        p {
            margin: 0;
            text-align:justify;
        }
        .container {
            height: auto;
            overflow: hidden;
        }
    </style>
</head>
<body>
    <div style="border: 1px solid black; padding: 5px;">
        <br />
        <div class="container" style="text-align: right;">
            <div>
                <img src="@Url.Content(String.Format("~/Content/Custom/image-icon/logo-{0}.png", ViewBag.CompanyAliasName))">
            </div>
        </div>
        <br />
        <h4 align="center">
            <strong>
                <font size="4" face="Times New Roman">
                    БҰЙРЫҚ<br /><br />
                    № @Model.OrderNum от @Model.OrderDate.ToShortDateString() г.<br /><br />
                </font>
            </strong>
            <font size="4" face="Times New Roman">
                @Model.Subject
            </font>
        </h4>
        <font size="4" face="Times New Roman">
            @Html.Raw(@Model.MainField)
        </font>
        <hr style="height:1px;border:none;color:#333;background-color:#333;" />
        <font size="4" face="Times New Roman">
            @Html.Raw(@Model.MainFieldTranslate)
        </font>
        <br />
        <br />
        <div class="container" style="text-align: right;">
            <div style="width:60%; vertical-align:top; float:left; text-align: left;">
                <strong>
                    <font size="4" face="Times New Roman">
                        @Model.SignTitle
                    </font>
                </strong>
            </div>
            <div style="width:40%; float:right;">
                <strong>
                    <font size="4" face="Times New Roman">
                        @Model.SignName
                    </font>
                </strong>
            </div>
        </div>
        <div class="container">
            <div style="text-align: left;">
                <br />
                <font size="4" face="Times New Roman">
                    @Html.Raw(Model.ListFileName)
                </font>
            </div>
        </div>

        @if (ViewBag.Acquainted == true)
        {
            <div class="container">
                <div style="text-align: left;">
                    <br />
                    <font size="4" face="Times New Roman">
                        Бұйрықпен таныстым:
                    </font>
                </div>
            </div>
            <div class="container">
                <div style="text-align: left;">
                    <font size="4" face="Times New Roman">
                        С приказом ознакомлен(а):
                    </font>
                </div>
            </div>
        }
        <br />
        @if ((DocumentState)ViewBag.DocState == DocumentState.Closed)
        {
            <div class="container">
                <div style="text-align: left;">
                    <strong>
                        <font size="3" face="Times New Roman">
                            Согласовано:
                        </font>
                    </strong>
                </div>
            </div>
            <br />
            foreach (EmplTable item in ViewBag.ListUsers)
            {
                <div class="container" style="text-align: right;">
                    <div style="width:50%; vertical-align:top; float:left; text-align: left;">
                        <font size="3" face="Times New Roman">
                            @item.TitleName
                        </font>
                    </div>
                    <div style="width:50%; float:right;">
                        <font size="3" face="Times New Roman">
                            @item.ShortFullNameType2
                        </font>
                    </div>
                </div>
            }
            <br />
        }
        <div class="container">
            <div style="text-align: left;">
                <strong>
                    <font size="3" face="Times New Roman">
                        Подготовлено:
                    </font>
                </strong>
            </div>
        </div>
        <br />
        <div class="container" style="text-align: right;">
            <div style="width:50%; vertical-align:top; float:left; text-align: left;">
                <font size="3" face="Times New Roman">
                    @ViewBag.Department
                </font>
            </div>
            <div style="width:50%; float:right;">
                <font size="3" face="Times New Roman">
                    @ViewBag.ManagerName
                </font>
            </div>
        </div>
    </div>
</body>
</html>
