@model RapidDoc.Models.ViewModels.TripMRPView
@using RapidDoc.Extensions;

@{
    ViewBag.Title = UIElementRes.UIElement.Edit;
}

<h2>@UIElementRes.UIElement.Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend></legend>

        <div class="editor-label">
            @Html.LabelForRequired(model => Model.FromDate)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => Model.FromDate, "{0:dd.MM.yyyy}", new { @class = "datepicker form-control form-control-date", startDate = "" })
            @Html.ValidationMessageFor(model => model.FromDate)
        </div>

        <div class="editor-label">
            @Html.LabelForRequired(model => Model.ToDate)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => Model.ToDate, "{0:dd.MM.yyyy}", new { @class = "datepicker form-control form-control-date", startDate = "" })
            @Html.ValidationMessageFor(model => model.ToDate)
        </div>

        <div class="editor-label">
            @Html.LabelForRequired(model => model.Amount)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Amount, new { @class = "form-control", @size = 70, @maxlength = 70, placeholder = "100.23", @autofocus = "required", @x_webkit_speech = "" })
            @Html.ValidationMessageFor(model => model.Amount)
        </div>

        @{Html.RenderPartial("SaveBackBtn");}
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/editentity")
}

@section jslaunch {
    <script type="text/javascript">
$(function () {
    selectpicker_init();
    datepicker_init("@UIElementRes.UIElement.LangName");
});
    </script>
}