@{
    ViewBag.Title = UIElementRes.UIElement.Name;
}
@using GridMvc.Html;

<h2>@UIElementRes.UIElement.Name</h2>

<p>
    @Html.ActionLink(UIElementRes.UIElement.Create, "RenameCreate", new { id = ViewBag.CompanyId }, new { @class = "btn btn-primary btn-sm" })
    @Html.ActionLink(UIElementRes.UIElement.Back, "Index", null, new { @class = "btn btn-default btn-sm" })
</p>

<div>
    @Html.Action("RenameGrid")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/gridmvc")
}
@section jslaunch {
<script type="text/javascript">
    $(function () {
        grid_init("@Url.Action("GetRenameList")");
        actionForRowGrid('@Url.Action("RenameEdit")');
    });
</script>
}