@model IEnumerable<RapidDoc.Models.ViewModels.TaskDelegationView>
@using RapidDoc.Extensions;

@if (Model.Count() > 0)
{
    <div class="hidden-print">
        <a data-toggle="collapse" href="#collapseTask" aria-expanded="false" aria-controls="collapseTask">@UIElementRes.UIElement.RelatedTasks:</a>
        <div class="collapse" id="collapseTask">
            <div class="well">
                @foreach (var item in Model)
                {
                    <p>
                        @if (item.DocumentState == RapidDoc.Models.Repository.DocumentState.Closed)
                        {
                            <span class="fa fa-check hidden-print"></span>
                        }
                        else if (item.DocumentState == RapidDoc.Models.Repository.DocumentState.Cancelled)
                        {
                            <span class="fa fa-times hidden-print"></span>
                        }
                        @Html.ActionLink(item.DocumentNum, "ShowDocument", "Document", new { id = item.DocumentId, isAfterView = true }, null) - @item.UserCreate (<small>@item.DateCreate.ToShortDateString()</small>)
                    </p>
                    if(item.DocType == RapidDoc.Models.Repository.DocumentType.Task)
                    {
                    <p>@FieldNameRes.FieldNameResource.Executor: @Html.HtmlDisplayTags(item.Users) Срок: @Html.FormatValue(item.ExecutionDate, "{0:dd.MM.yyyy}")
                        @if(item.ProlongationDate != null)
                        {
                            <span>Продление: @Html.FormatValue(item.ProlongationDate, "{0:dd.MM.yyyy}")</span>
                        }
                    </p>
                    <div class="row">
                        <div class="col-xs-1"></div>
                        <div class="col-xs-11"><p class="text text-danger"><em>@Html.Raw(item.ReportText)</em></p></div>
                    </div>
                    }
                    else if (item.DocType == RapidDoc.Models.Repository.DocumentType.Request && item.ProlongationDate != null)
                    {
                        <span><em>Дата продления: @Html.FormatValue(item.ProlongationDate, "{0:dd.MM.yyyy}")</em></span>
                        <br />
                        <br />
                    }
                }
            </div>
        </div>
    </div>
 }


