@model RapidDoc.Models.Grids.MyTaskGrid
@using RapidDoc.Extensions;
@using RapidDoc.Models.Repository;
@using GridMvc.Html;

@helper StatusField(RapidDoc.Models.ViewModels.DocumentTaskView item)
{
    if (item.SLAStatus == SLAStatusList.Disturbance)
    {
        <span class="text-danger"></span>
    }
    else if (item.SLAStatus == SLAStatusList.Warning)
    {
        <span class="text-warning"></span>
    }
}

@helper isNotReview(RapidDoc.Models.ViewModels.DocumentTaskView item)
{
    
}

@helper CreatedByFull(RapidDoc.Models.ViewModels.DocumentTaskView item)
{
    <abbr title="@item.TitleName" class="initialism popover-link" data-container="body" data-toggle="popover" data-placement="left" data-content="@item.DepartmentName">@item.FullName</abbr>
}

@helper CreatedDate(RapidDoc.Models.ViewModels.DocumentTaskView item)
{
    <a href="@String.Format("/{0}/Document/ShowDocument/{1}", item.AliasCompanyName, item.Id)">@item.CreatedDate.ToShortDateString()</a>
}

@helper DocumentState(RapidDoc.Models.ViewModels.DocumentTaskView item)
{
    <a href="@String.Format("/{0}/Document/ShowDocument/{1}", item.AliasCompanyName, item.Id)">@Html.EnumToDescription(item.DocumentState)</a>
}

@Html.Grid(Model).Named("ordersGrid").Columns(columns =>
{
    columns.Add(o => o.Id).Css("hidden");
    columns.Add(o => o.AliasCompanyName).Css("hidden");
    columns.Add()
        .Encoded(false)
        .Sanitized(false)
        .SetWidth(1)
        .isCssColClass(true)
        .Css("text-center empty")
        .RenderValueAs(o => isNotReview(o));
    columns.Add()
        .Encoded(false)
        .Sanitized(false)
        .SetWidth(1)
        .Css("text-center empty")
        .RenderValueAs(o => StatusField(o));
    columns.Add(o => o.DocumentNum).Titled("#").Sortable(true).Filterable(true);
    columns.Add(o => o.DocumentText).Titled(Html.DisplayNameFor(o => ((RapidDoc.Models.ViewModels.DocumentTaskView)o.Columns).DocumentText).ToHtmlString()).Sortable(false).Filterable(true);
    columns.Add()
        .Encoded(false)
        .Sanitized(false)
        .SetWidth(1)
        .Titled(Html.DisplayNameFor(o => ((RapidDoc.Models.ViewModels.DocumentView)o.Columns).DocumentState).ToHtmlString())
        .Sortable(true)
        .Filterable(true)
        .RenderValueAs(o => DocumentState(o));
    columns.Add(o => o.CreatedDate).Titled(Html.DisplayNameFor(o => ((RapidDoc.Models.ViewModels.DocumentTaskView)o.Columns).CreatedDate).ToHtmlString()).Sortable(true).Filterable(true).Encoded(false).Sanitized(false).RenderValueAs(o => CreatedDate(o));
    columns.Add(o => o.ExecutionDate).Titled(Html.DisplayNameFor(o => ((RapidDoc.Models.ViewModels.DocumentTaskView)o.Columns).ExecutionDate).ToHtmlString()).Sortable(true).Filterable(true).Format("{0:d}");
    columns.Add(o => o.CreatedBy).Titled(Html.DisplayNameFor(o => ((RapidDoc.Models.ViewModels.DocumentTaskView)o.Columns).CreatedBy).ToHtmlString()).Sortable(true).Filterable(true).Encoded(false).Sanitized(false).RenderValueAs(o => CreatedByFull(o));
}).Selectable(true).SetLanguage(UIElementRes.UIElement.LangName).WithPaging(20).SetColCssClasses(o => o.isNotReview ? "" : "info allocation text-center empty").WithMultipleFilters()