@model List<RapidDoc.Models.ViewModels.DocumentSubscriptionListView>
@using RapidDoc.Extensions;
@{
    ViewBag.Title = "Аудит рассылки";
}
 @{int num = 0;}
<hr />
@if (Model.Count() > 0)
{   
    <h2>@ViewBag.Title</h2>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    @foreach (var logItem in Model.GroupBy(x => x.CreateUserName))
    {
        num++;
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading@num">
                    <p class="panel-title"><a href="#collapseArea_@num" data-toggle="collapse" data-target="#collapseArea_@num" aria-expanded="false" aria-controls="collapseArea_@num"><strong>@logItem.Key (@Model.Where(x => x.CreateUserName == logItem.Key).Count())</strong></a></p>
                </div>
                <div class="panel-collapse collapse" id="collapseArea_@num">
                    <div class="panel-body">
                        @foreach (var item in Model.Where(x => x.CreateUserName == logItem.Key).OrderByDescending(x => x.LogDate))
                        {
                            <p> <span class ="fa fa-envelope-o"></span>&nbsp;
                                @Html.DisplayFor(modelItem => item.UserName)
                                <small class="text-info">(@Html.DisplayFor(modelItem => item.LogDate))</small>
                            </p>
                        }                                 
                    </div>
                </div>
            </div>
        }
    </div>  
}

<a href="@Url.Action("ShowDocument", "Document", new { id = ViewBag.DocumentId, isAfterView = true })" class="btn btn-default" role="button">@UIElementRes.UIElement.Back</a>