@model RapidDoc.Models.ViewModels.OrganizationView
@using RapidDoc.Extensions;
@{
    ViewBag.Title = "Новая организация";
}
<h2>Организация</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend></legend>
        <div class="editor-label">
            @Html.LabelForRequired(model => model.OrgName)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.OrgName, new { @class = "form-control", @size = 70, @maxlength = 70, placeholder = "Altyntau Kokshetau", @autofocus = "required", @x_webkit_speech = "" })
            @Html.ValidationMessageFor(model => model.OrgName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Enable)
        </div>
        <div class="editor-field">
            @Html.CheckBoxFor(model => model.Enable)
            @Html.ValidationMessageFor(model => model.Enable)
        </div>
       
        @{Html.RenderPartial("SaveBackBtn");}
    </fieldset>
}
@section Scripts {
    @Scripts.Render("~/bundles/editentity")
}

