@model RapidDoc.Models.DomainModels.PRT_DecisionList_Table
@using RapidDoc.Extensions;
@{
    Layout = "";
}

<table class="table table-min" style="margin-bottom: 0;">
    <tbody>
        <tr>
            <td style="width: 10px;"></td>
            <td>
                @if (Model.Type == 1)
                {
                    <table class="table table-min" style="margin-bottom: 0;">
                        <tbody>
                            <tr>
                                <td style="width: 10px;">
                                    <strong class="text-uppercase" style="white-space: nowrap;">@ViewData["numDecision"].ToString().</strong>
                                </td>
                                <td>
                                    @Html.Action("ProtocolDecisionText", "Custom", new { model = Model })
                                </td>
                            </tr>
                        </tbody>
                    </table>
                }
                else if (Model.Type == 2)
                {
                    <strong class="text-uppercase" style="white-space: nowrap;">Рекомендовано руководству:</strong>
                    <table class="table table-min" style="margin-bottom: 0;">
                        <tbody>
                            <tr>
                                <td style="width: 10px;">
                                    <strong class="text-uppercase" style="white-space: nowrap;">@ViewData["numDecision"].ToString().</strong>
                                </td>
                                <td>
                                    @Html.Action("ProtocolDecisionText", "Custom", new { model = Model })
                                </td>
                            </tr>
                        </tbody>
                    </table>
                }
                else
                {
                    <strong class="text-uppercase" style="white-space: nowrap;">Поручение №@ViewData["numDecision"].ToString()</strong>
                    <p style="margin-bottom: 0;">
                        @Html.Action("ProtocolDecisionText", "Custom", new { model = Model })
                    </p>
                }
            </td>
        </tr>
    </tbody>
</table>