@using RapidDoc.Extensions;

<div class="modal delegatetask-modal-sm" id="delegateTaskModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-content">
            <div class="modal-header">
                <div class="alert_placeholderNewDate"></div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">@CustomRes.Custom.Users</h4>
            </div>
            <div class="modal-body" style="min-height: 180px;">
                @Html.TextBox("Flow", "", new { @class = "form-control", @data_role = "tagsinputEmployerIntercompany", @size = 256, @maxlength = 256, placeholder = "Сотрудники" })
                <br />
                <br />
                @if ((bool)ViewBag.IsDateChange == true)
                { 
                <div id="NewExecutionDate">
                    <div class="editor-label">
                        <label>@FieldNameRes.FieldNameResource.NewExecuteTaskDate&nbsp;</label><i id="newExecutiontooltip" class="fa fa-question-circle visible-sm-inline-block visible-md-inline-block visible-lg-inline-block" data-toggle="tooltip" data-placement="top" title="@FieldNameRes.FieldNameResource.TooltipAboutNewDate"></i>
                    </div>
                    <div class="editor-field">
                        <input class="datepicker form-control form-control-date" data-date-format="dd.mm.yyyy" data-val="true" data-val-date="The field Дата исполнения must be a date." format="dd.mm.yyyy" id="newExecuteDate" name="newExecuteDate" placeholder="Дата" startdate="@DateTime.Today.Day.@DateTime.Today.Month.@DateTime.Today.Year" type="text" value="">
                    </div>
                </div>
                }
                <div class="editor-label">
                    <label>@FieldNameRes.FieldNameResource.CreateTasks</label>
                    <i class="fa fa-question-circle visible-sm-inline-block visible-md-inline-block visible-lg-inline-block" data-toggle="tooltip" data-placement="top" title="@UIElementRes.UIElement.TooltipCreateSubTask"></i>
                </div>
                <div class="editor-field">
                    @Html.CheckBox("IsCreateTask", false)
                </div>
                <h5 class="modal-title">@FieldNameRes.FieldNameResource.AdditionalText</h5>
                <div class="editor-field">
                    @Html.TextArea("AdditionalText", new { @class = "form-control summernotemin", placeholder = "" })
                </div>
                <div class="editor-label">
                    <label>@FieldNameRes.FieldNameResource.Notify</label>
                    <i class="fa fa-question-circle visible-sm-inline-block visible-md-inline-block visible-lg-inline-block" data-toggle="tooltip" data-placement="top" title="@UIElementRes.UIElement.TooltipAboutNotifyTask"></i>
                </div>
                <div class="editor-field">
                    @Html.CheckBox("IsNotifyTask", false)
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" name="action:DelegateDocumentTask">@UIElementRes.UIElement.Delegate</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">@UIElementRes.UIElement.Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>