@model RapidDoc.Models.ViewModels.USR_REQ_YT_RequestForAuxiliaryTransportWorkDaysZIF_View
@using RapidDoc.Extensions;

<h5 class="text-info">Прошу выделить вспомогательную технику:</h5>
<div class="row">
    <div class="col-xs-6">
        @Html.Partial("_DocumentViewFields", Model, new ViewDataDictionary(ViewData) { { "FieldName", "Transport" } })
        @Html.Partial("_DocumentViewFields", Model, new ViewDataDictionary(ViewData) { { "FieldName", "PurposeAuxiliaryTransportTrip" } })
        @Html.Partial("_DocumentViewFields", Model, new ViewDataDictionary(ViewData) { { "FieldName", "ExecutionWork" } })
        @Html.Partial("_DocumentViewFields", Model, new ViewDataDictionary(ViewData) { { "FieldName", "EmplName" } })
        @Html.Partial("_DocumentViewFields", Model, new ViewDataDictionary(ViewData) { { "FieldName", "PlaceDeparture" } })
    </div>
    <div class="col-xs-6">
        @Html.Partial("_DocumentViewFields", Model, new ViewDataDictionary(ViewData) { { "FieldName", "StartDate" } })
        @Html.Partial("_DocumentViewFields", Model, new ViewDataDictionary(ViewData) { { "FieldName", "EndDate" } })
        @Html.Partial("_DocumentViewFields", Model, new ViewDataDictionary(ViewData) { { "FieldName", "StartWorkTime" } })
        @Html.Partial("_DocumentViewFields", Model, new ViewDataDictionary(ViewData) { { "FieldName", "EndWorkTime" } })
    </div>
</div>
@Html.Action("GetRequestAuxiliaryTransportWorkDaysZIF", "Custom", new { model = Model })