@model RapidDoc.Models.ViewModels.USR_APP_AppealIndividualDocuments_View
@using RapidDoc.Extensions;

@Html.HiddenFor(model => model.TypeAppealAddition)
@Html.HiddenFor(model => model.TypeAppeal)
@Html.HiddenFor(model => model.CharacterQuestionAddition)
@Html.HiddenFor(model => model.CharacterQuestion)
@Html.HiddenFor(model => model.Language_Kazakh)
@Html.HiddenFor(model => model.Language_Russian)
@Html.HiddenFor(model => model.Language_English)
@Html.HiddenFor(model => model.Language_Chinese)
@Html.HiddenFor(model => model.Language_French)
@Html.HiddenFor(model => model.Language_Other)
@Html.HiddenFor(model => model.RegistrationNum)
@Html.HiddenFor(model => model.ExecutionDate)
@Html.HiddenFor(model => model.Whom)


<div class="row">
    <div class="col-xs-2 col-xs-offset-11">
        <div class="editor-label">
            @Html.LabelFor(model => model.Executed)
        </div>
        <div class="editor-field">
            @Html.CheckBoxFor(model => model.Executed, new { @disabled = true })
        </div>
    </div> 
</div>  

<h4 class="text-center">№: @Model.RegistrationNum</h4>
<div class="row">
    <div class="col-xs-12">
        <div>
            <h5 class="text-center">@Html.DisplayTextFor(model => Model.Subject)</h5>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div>
            <h6>@Html.DisplayTextFor(model => Model.ItemCauseNumber)</h6>
        </div>
    </div>
</div>

<h4>Язык обращения:</h4>
<div class="row">
    @if (Model.Language_Kazakh == true)
    {
        <div class="col-xs-2">
            <div class="editor-label">
                @Html.LabelFor(model => Model.Language_Kazakh)
            </div>
            <div class="editor-field">
                @Html.CheckBoxFor(model => Model.Language_Kazakh, new { @disabled = true })
            </div>
        </div>
    }
    @if (Model.Language_Russian == true)
    {
        <div class="col-xs-2">
            <div class="editor-label">
                @Html.LabelFor(model => Model.Language_Russian)
            </div>
            <div class="editor-field">
                @Html.CheckBoxFor(model => Model.Language_Russian, new { @disabled = true })
            </div>
        </div>
    }
    @if (Model.Language_English == true)
    {
        <div class="col-xs-2">
            <div class="editor-label">
                @Html.LabelFor(model => Model.Language_English)
            </div>
            <div class="editor-field">
                @Html.CheckBoxFor(model => Model.Language_English, new { @disabled = true })
            </div>
        </div>
    }
    @if (Model.Language_Chinese == true)
    {
        <div class="col-xs-2">
            <div class="editor-label">
                @Html.LabelFor(model => Model.Language_Chinese)
            </div>
            <div class="editor-field">
                @Html.CheckBoxFor(model => Model.Language_Chinese, new { @disabled = true })
            </div>
        </div>
    }
    @if (Model.Language_French == true)
    {
        <div class="col-xs-2">
            <div class="editor-label">
                @Html.LabelFor(model => Model.Language_French)
            </div>
            <div class="editor-field">
                @Html.CheckBoxFor(model => Model.Language_French, new { @disabled = true })
            </div>
        </div>
    }
    @if (Model.Language_Other == true)
    {
        <div class="col-xs-2">
            <div class="editor-label">
                @Html.LabelFor(model => Model.Language_Other)
            </div>
            <div class="editor-field">
                @Html.CheckBoxFor(model => Model.Language_Other, new { @disabled = true })
            </div>
        </div>
    }
</div>
<div class="row">
    <div class="col-xs-6">
        <div class="editor-label">
            @Html.LabelFor(model => Model.IdentificatorNumber)
        </div>
        <div>
            @Html.DisplayTextFor(model => Model.IdentificatorNumber)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.OrganizationTableId)
        </div>
        <div class="editor-field">
            @Html.Action("GetOrganizationORD", "Custom", new { id = Model.OrganizationTableId, selected = true })
        </div>
    </div>
    <div class="col-xs-6">
        <div class="editor-label">
            @Html.LabelFor(model => Model.StatusPerson)
        </div>
        <div class="editor-field">
            @Html.EnumToDescription(Model.StatusPerson)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => Model.Name)
        </div>
        <div>
            @Html.DisplayTextFor(model => Model.Name) 
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => Model.Address)
        </div>
        <div>
            @Html.DisplayTextFor(model => Model.Address)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.CountryTableId)
        </div>
        <div class="editor-field">
            @Html.Action("GetCountryORD", "Custom", new { id = Model.CountryTableId, selected = true })
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-xs-6">
        <div class="editor-label">
            @Html.LabelFor(model => Model.RegistrationDate)
        </div>
        <div class="editor-field">
            @Html.FormatValue(Model.RegistrationDate, "{0:dd.MM.yyyy}")
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => Model.Whom)
        </div>
        <div>
            @Html.HtmlDisplayTagsFor(model => Model.Whom)
        </div>
    </div>
    <div class="col-xs-6">
        <div class="editor-label">
            @Html.LabelFor(model => Model.FormAppeal)
        </div>
        <div class="editor-field">
            @Html.EnumToDescription(Model.FormAppeal)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => Model.TypeAppeal)
        </div>
        @if (!String.IsNullOrEmpty(Model.TypeAppealAddition))
        {
            <div class="editor-field">
                @Html.DisplayTextFor(model => Model.TypeAppealAddition)
            </div>
        }
        else
        {
            <div class="editor-field">
                @Html.EnumToDescription(Model.TypeAppeal)
            </div>
        }
        <div class="editor-label">
            @Html.LabelFor(model => Model.CharacterAppeal)
        </div>
        <div class="editor-field">
            @Html.EnumToDescription(Model.CharacterAppeal)
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-xs-6">
        <div class="editor-label">
            @Html.LabelFor(model => Model.CharacterQuestion)
        </div>
        @if (!String.IsNullOrEmpty(Model.CharacterQuestionAddition))
        {
            <div class="editor-field">
                @Html.DisplayTextFor(model => Model.CharacterQuestionAddition)
            </div>
        }
        else
        {
            <div class="editor-field">
                @Html.EnumToDescription(Model.CharacterQuestion)
            </div>
        }
        <div class="editor-label">
            @Html.LabelFor(model => Model.ListsCount)
        </div>
        <div>
            @Html.DisplayTextFor(model => Model.ListsCount)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => Model.ApplicationsCount)
        </div>
        <div>
            @Html.DisplayTextFor(model => Model.ApplicationsCount)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => Model.Subject)
        </div>
        <div>
            @Html.DisplayTextFor(model => Model.Subject)
        </div>
    </div>
    <div class="col-xs-6">
        <div class="editor-label">
            @Html.LabelFor(model => model.ReasonRequestTableId)
        </div>
        <div class="editor-field">
            @Html.Action("GetReasonRequest", "Custom", new { @id = Model.ReasonRequestTableId, selected = true })
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.QuestionRequestTableId)
        </div>
        <div class="editor-field">
            @Html.Action("GetQuestionRequest", "Custom", new { @id = Model.QuestionRequestTableId, selected = true })
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-xs-12">
        <div class="editor-label">
            @Html.LabelFor(model => Model.ControlType)
        </div>
        <div class="editor-field">
            @Html.EnumToDescription(Model.ControlType)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => Model.Priority)
        </div>
        <div class="editor-field">
            @Html.EnumToDescription(Model.Priority)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => Model.ExecutionDate)
        </div>
        <div class="editor-field">
            @Html.FormatValue(Model.ExecutionDate, "{0:dd.MM.yyyy}")
        </div>
    </div>
</div>