@model RapidDoc.Models.ViewModels.USR_TAS_DailyTasksProlongation_View
@using RapidDoc.Extensions;

<div class="editor-label">
    @Html.LabelForRequired(model => Model.RefDocNum)
</div>
@Html.ActionLink(Model.RefDocNum.ToString(), "ShowDocument", "Document", new { id = Model.RefDocumentId }, null)

<div class="row">
    <div class="col-xs-2">
        <div class="editor-label">
            @Html.LabelFor(model => Model.ExecutionDate)
        </div>
        <div class="editor-field">
            @if (Model.ProlongationOldDate.HasValue && Model.ProlongationOldDate != DateTime.MinValue)
            {
                <del>@Html.FormatValue(Model.ExecutionDate, "{0:dd.MM.yyyy}")</del>
            }
            else
            {
                @Html.FormatValue(Model.ExecutionDate, "{0:dd.MM.yyyy}")
            }
        </div>
    </div>
    <div class="col-xs-2">
        @if (Model.ProlongationOldDate.HasValue && Model.ProlongationOldDate != DateTime.MinValue)
        {
            @Html.Partial("_DocumentViewFields", Model, new ViewDataDictionary(ViewData) { { "FieldName", "ProlongationOldDate" } })
        }
    </div>
</div>
<br />
@Html.Raw(Model.TextTask)

@Html.HiddenFor(model => model.RefDocumentId)
@Html.HiddenFor(model => model.RefDocNum)
@Html.HiddenFor(model => model.TextTask)
@Html.HiddenFor(model => model.ExecutionDate)
<br />

<div class="editor-label">
    @Html.LabelForRequired(model => Model.ProlongationDate)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => model.ProlongationDate, "{0:dd.MM.yyyy}", new { @class = "datepicker form-control form-control-date", data_date_format = System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.ShortDatePattern.ToLower(), format = "mm/dd/yyyy", placeholder = "Дата", startDate = "" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Reason)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.Reason, new { @class = "form-control" })
</div>
