@model RapidDoc.Models.ViewModels.USR_REQ_URP_RequestForPaymentFirstDay_View
@using RapidDoc.Extensions;

@if (!String.IsNullOrEmpty(Model.Name1))
{
    <div class="row" style="background-color: #eee; border: 3px dashed #bdc3c7;">
        <div class="col-xs-4">
            <span class="label label-primary rowNum cellAligmentMiddle">1</span>
            <div class="editor-label">
                @Html.LabelFor(model => Model.Name1)
            </div>
            <div class="editor-field">
                @Html.DisplayTextFor(model => Model.Name1)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => Model.Department1)
            </div>
            <div class="editor-field">
                @Html.EnumToDescription(Model.Department1)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => Model.Position1)
            </div>
            <div class="editor-field">
                @Html.DisplayTextFor(model => Model.Position1)
            </div>
        </div>
        <div class="col-xs-4">
            <div class="editor-label">
                @Html.LabelFor(model => Model.StartDate1)
            </div>
            <div class="editor-field">
                @Html.DisplayFor(model => Model.StartDate1)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => Model.Destination1)
            </div>
            <div class="editor-field">
                @Html.EnumToDescription(Model.Destination1)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => Model.Term1)
            </div>
            <div class="editor-field">
                @Html.DisplayTextFor(model => Model.Term1)
            </div>
        </div>
        <div class="col-xs-4">
            <div class="editor-label">
                @Html.LabelFor(model => Model.Amount1)
            </div>
            <div class="editor-field">
                @Html.DisplayTextFor(model => Model.Amount1)
            </div>
        </div>
    </div>
    <br />
}

@if (!String.IsNullOrEmpty(Model.Name2))
{
    <div class="row" style="background-color: #eee; border: 3px dashed #bdc3c7;">
        <div class="col-xs-4">
            <span class="label label-primary rowNum cellAligmentMiddle">2</span>
            <div class="editor-label">
                @Html.LabelFor(model => Model.Name2)
            </div>
            <div class="editor-field">
                @Html.DisplayTextFor(model => Model.Name2)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => Model.Department2)
            </div>
            <div class="editor-field">
                @Html.EnumToDescription(Model.Department2)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => Model.Position2)
            </div>
            <div class="editor-field">
                @Html.DisplayTextFor(model => Model.Position2)
            </div>
        </div>
        <div class="col-xs-4">
            <div class="editor-label">
                @Html.LabelFor(model => Model.StartDate2)
            </div>
            <div class="editor-field">
                @Html.DisplayFor(model => Model.StartDate2)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => Model.Destination2)
            </div>
            <div class="editor-field">
                @Html.EnumToDescription(Model.Destination2)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => Model.Term2)
            </div>
            <div class="editor-field">
                @Html.DisplayTextFor(model => Model.Term2)
            </div>
        </div>
        <div class="col-xs-4">
            <div class="editor-label">
                @Html.LabelFor(model => Model.Amount2)
            </div>
            <div class="editor-field">
                @Html.DisplayTextFor(model => Model.Amount2)
            </div>
        </div>
    </div>
    <br />
}

@if (!String.IsNullOrEmpty(Model.Name3))
{
    <div class="row" style="background-color: #eee; border: 3px dashed #bdc3c7;">
        <div class="col-xs-4">
            <span class="label label-primary rowNum cellAligmentMiddle">3</span>
            <div class="editor-label">
                @Html.LabelFor(model => Model.Name3)
            </div>
            <div class="editor-field">
                @Html.DisplayTextFor(model => Model.Name3)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => Model.Department3)
            </div>
            <div class="editor-field">
                @Html.EnumToDescription(Model.Department3)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => Model.Position3)
            </div>
            <div class="editor-field">
                @Html.DisplayTextFor(model => Model.Position3)
            </div>
        </div>
        <div class="col-xs-4">
            <div class="editor-label">
                @Html.LabelFor(model => Model.StartDate3)
            </div>
            <div class="editor-field">
                @Html.DisplayFor(model => Model.StartDate3)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => Model.Destination3)
            </div>
            <div class="editor-field">
                @Html.EnumToDescription(Model.Destination3)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => Model.Term3)
            </div>
            <div class="editor-field">
                @Html.DisplayTextFor(model => Model.Term3)
            </div>
        </div>
        <div class="col-xs-4">
            <div class="editor-label">
                @Html.LabelFor(model => Model.Amount3)
            </div>
            <div class="editor-field">
                @Html.DisplayTextFor(model => Model.Amount3)
            </div>
        </div>
    </div>
    <br />
}

@if (!String.IsNullOrEmpty(Model.Name4))
{
    <div class="row" style="background-color: #eee; border: 3px dashed #bdc3c7;">
        <div class="col-xs-4">
            <span class="label label-primary rowNum cellAligmentMiddle">4</span>
            <div class="editor-label">
                @Html.LabelFor(model => Model.Name4)
            </div>
            <div class="editor-field">
                @Html.DisplayTextFor(model => Model.Name4)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => Model.Department4)
            </div>
            <div class="editor-field">
                @Html.EnumToDescription(Model.Department4)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => Model.Position4)
            </div>
            <div class="editor-field">
                @Html.DisplayTextFor(model => Model.Position4)
            </div>
        </div>
        <div class="col-xs-4">
            <div class="editor-label">
                @Html.LabelFor(model => Model.StartDate4)
            </div>
            <div class="editor-field">
                @Html.DisplayFor(model => Model.StartDate4)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => Model.Destination4)
            </div>
            <div class="editor-field">
                @Html.EnumToDescription(Model.Destination4)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => Model.Term4)
            </div>
            <div class="editor-field">
                @Html.DisplayTextFor(model => Model.Term4)
            </div>
        </div>
        <div class="col-xs-4">
            <div class="editor-label">
                @Html.LabelFor(model => Model.Amount4)
            </div>
            <div class="editor-field">
                @Html.DisplayTextFor(model => Model.Amount4)
            </div>
        </div>
    </div>
    <br />
}

@Html.HiddenFor(model => Model.Name1)
@Html.HiddenFor(model => Model.Department1)
@Html.HiddenFor(model => Model.Position1)
@Html.HiddenFor(model => Model.StartDate1)
@Html.HiddenFor(model => Model.Destination1)
@Html.HiddenFor(model => Model.Term1)
@Html.HiddenFor(model => Model.Amount1)

@Html.HiddenFor(model => Model.Name2)
@Html.HiddenFor(model => Model.Department2)
@Html.HiddenFor(model => Model.Position2)
@Html.HiddenFor(model => Model.StartDate2)
@Html.HiddenFor(model => Model.Destination2)
@Html.HiddenFor(model => Model.Term2)
@Html.HiddenFor(model => Model.Amount2)

@Html.HiddenFor(model => Model.Name3)
@Html.HiddenFor(model => Model.Department3)
@Html.HiddenFor(model => Model.Position3)
@Html.HiddenFor(model => Model.StartDate3)
@Html.HiddenFor(model => Model.Destination3)
@Html.HiddenFor(model => Model.Term3)
@Html.HiddenFor(model => Model.Amount3)

@Html.HiddenFor(model => Model.Name4)
@Html.HiddenFor(model => Model.Department4)
@Html.HiddenFor(model => Model.Position4)
@Html.HiddenFor(model => Model.StartDate4)
@Html.HiddenFor(model => Model.Destination4)
@Html.HiddenFor(model => Model.Term4)
@Html.HiddenFor(model => Model.Amount4)