@model RapidDoc.Models.ViewModels.USR_REQ_UMM_ManufactureItemsBGP_View
@using RapidDoc.Extensions;

@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.DocumentTableId)
@Html.HiddenFor(model => model.Department)
@Html.HiddenFor(model => model.FIO)
@Html.HiddenFor(model => model.Telephone)
@Html.HiddenFor(model => model.NameItem)
@Html.HiddenFor(model => model.Amount)
@Html.HiddenFor(model => model.PlanDate)
@Html.HiddenFor(model => model.ActualUseMaterial)
@Html.HiddenFor(model => model.AmountMaterial)
@Html.HiddenFor(model => model.ActualDate)



<div class="editor-label">
    @Html.LabelFor(model => Model.Department)
</div>
<div>
    @Html.DisplayTextFor(model => Model.Department)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.FIO)
</div>
<div>
    @Html.HtmlDisplayTagsFor(model => Model.FIO)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.Telephone)
</div>
<div>
    @Html.DisplayTextFor(model => Model.Telephone)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.NameItem)
</div>
<div>
    @Html.DisplayTextFor(model => Model.NameItem)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.Amount)
</div>
<div>
    @Html.DisplayTextFor(model => Model.Amount)
</div>

@if (Model.PlanDate.HasValue && Model.PlanDate != DateTime.MinValue)
{
    <hr />
    <div class="editor-label">
        @Html.LabelFor(model => Model.PlanDate)
    </div>
    <div>
        @Html.FormatValue(Model.PlanDate, "{0:dd.MM.yyyy}")
    </div>
}

@if (!String.IsNullOrEmpty(Model.ActualUseMaterial))
{
    <div class="editor-label">
        @Html.LabelFor(model => Model.ActualUseMaterial)
    </div>
    <div>
        @Html.DisplayTextFor(model => Model.ActualUseMaterial)
    </div>
}

@if (!String.IsNullOrEmpty(Model.AmountMaterial))
{
    <div class="editor-label">
        @Html.LabelFor(model => Model.AmountMaterial)
    </div>
    <div>
        @Html.DisplayTextFor(model => Model.AmountMaterial)
    </div>
}

@if (Model.ActualDate.HasValue && Model.ActualDate != DateTime.MinValue)
{
    <div class="editor-label">
        @Html.LabelFor(model => Model.ActualDate)
    </div>
    <div>
        @Html.FormatValue(Model.ActualDate, "{0:dd.MM.yyyy}")
    </div>
}
<hr />
<div class="editor-label">
    @Html.LabelForRequired(model => Model.ItemName)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.ItemName, new { @class = "form-control", placeholder = "Номенклатура" })
</div>