@model RapidDoc.Models.ViewModels.USR_TAS_DailyTasks_View
@using RapidDoc.Extensions;
@{
    var refProcessName = Html.Action("GetDocumentRefInfo", "Document", new { id = Model.RefDocumentId });
}

@if (Model.RefDocumentId.HasValue && Model.RefDocumentId != Guid.Empty)
{
    <div class="editor-label">
        @Html.LabelFor(model => Model.RefDocNum)
    </div>
    @Html.ActionLink(Model.RefDocNum.ToString() + " " + refProcessName, "ShowDocument", "Document", new { id = Model.RefDocumentId }, null)

    @Html.Partial("_DocumentViewFields", Model, new ViewDataDictionary(ViewData) { { "FieldName", "TextTask" } })

    @Html.HiddenFor(model => model.RefDocumentId)
    @Html.HiddenFor(model => model.RefDocNum)
    <br />
}

<div class="row">
    <div class="col-xs-2">
        <div class="editor-label">
            @Html.LabelFor(model => Model.ExecutionDate)
        </div>
        <div class="editor-field">
            @if (Model.ProlongationDate.HasValue && Model.ProlongationDate != DateTime.MinValue)
            {
                <span class="text text-danger"><del>@Html.FormatValue(Model.ExecutionDate, "{0:dd.MM.yyyy}")</del></span>
            }
            else
            {
                @Html.FormatValue(Model.ExecutionDate, "{0:dd.MM.yyyy}")
            }
        </div>
    </div>
    <div class="col-xs-2">
        @if (Model.ProlongationDate.HasValue && Model.ProlongationDate != DateTime.MinValue)
        {
            @Html.Partial("_DocumentViewFields", Model, new ViewDataDictionary(ViewData) { { "FieldName", "ProlongationDate" } })
        }
    </div>
</div>

@if (Model.ProjectTableId.HasValue && Model.ProjectTableId != Guid.Empty)
{
    <div class="row">
        <div class="col-xs-4">
            <div class="editor-label">
                @Html.LabelForRequired(model => model.ProjectTableId)
            </div>
            <div class="editor-field">
                @Html.Action("GetTaskProject", "Custom", new { @id = Model.ProjectTableId, @selected = true })
            </div>
        </div>
    </div>
    @Html.HiddenFor(model => model.ProjectTableId)
    <br />
}

<div class="editor-label">
    @Html.LabelFor(model => Model.MainField)
</div>
<div class="editor-field">
    @Html.Raw(Model.MainField)
</div>

@if (Model.ReportText != null && Model.ReportText != "")
{
    <div class="editor-label">
        @Html.LabelFor(model => Model.ReportText)
    </div>
    <div class="editor-field">
        @Html.Raw(Model.ReportText)
    </div>
}

@Html.Action("GetDelegationTaskModal", "Document", new { documentId = Model.DocumentTableId, refDocumentId = Model.RefDocumentId, ExecutionDate = Model.ExecutionDate })

<script type="text/javascript">
    $('#delegateTaskModal').on('shown.bs.modal', function (e) {
        $('input[name=newExecuteDate]').datepicker('setStartDate', '@DateTime.Today.ToShortDateString()');
    })
</script>
