@model RapidDoc.Models.ViewModels.USR_REQ_UMM_ProvisionOfZIF_View
@using RapidDoc.Extensions;

<div class="row">
    <div class="col-xs-4">
        <div class="editor-label">
            @Html.LabelForRequired(model => Model.Item)
        </div>
        <div class="editor-field">
            @Html.EnumDropDownListFor(model => Model.Item, new { @class = "selectpicker" })
        </div>
    </div>
    <div class="col-xs-8">
        <div id="ummItem">
            <div class="editor-label">               
                @Html.LabelForRequired(model => Model.ItemId)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => Model.ItemId, new { @class = "form-control", placeholder = "Номенклатурный номер" })
            </div>
            <h6><small class="text-danger"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>Необходимо обязательно проставить номер номенклатуры.</small></h6> 
        </div>
    </div>
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Department)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Department, new { @class = "form-control", placeholder = "Подразделение" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.FIO)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.FIO, new { @class = "form-control", @data_role = "tagsinputEmployer", placeholder = "Ф.И.О. должность" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Telephone)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Telephone, new { @class = "form-control", placeholder = "Номер тел. Вн. и сот." })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.NameItem)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.NameItem, new { @class = "form-control", placeholder = "Наименование" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.TechType)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.TechType, new { @class = "form-control", placeholder = "Вид техники" })
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.Amount)
</div>
<div>
    @Html.TextBoxFor(model => Model.Amount, new { @class = "form-control", placeholder = "Количество" })
</div>

<hr />
<div class="alert alert-info" role="alert">
    <p> В заявке нужно обязательно прикрепить: </p>
    <p> 1. Чертеж/эскиз;</p>
    <p> 2. Если услуга, то предоставить фото с указанием дефекта; </p>
</div>

<script type="text/javascript">
    $(function () {
        var lav = $('#Item').val();
        $('#ummItem').hide();
        $('ItemId').val('');
        $('#ItemId')[0].disabled = true;

        $('#Item').change(function (event) {
            if ($('#Item').val() == 1 ) {
                $('#ummItem').show();
                $('#ItemId')[0].disabled = false;
            }
            else {               
                $('ItemId').val('');
                $('#ummItem').hide();
                $('#ItemId')[0].disabled = true;
            }
        });
    });
</script>