@model RapidDoc.Models.ViewModels.USR_REQ_URP_RequestForPaymentFirstDay_View
@using RapidDoc.Extensions;

<div class="row">
    <div class="col-md-3" style="background-color: #eee; border-left: 3px dashed #bdc3c7;">
        <span class="label label-primary rowNum cellAligmentMiddle">1</span>
        <div class="editor-label">
            @Html.LabelForRequired(model => Model.Name1)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => Model.Name1, new { @class = "form-control", @size = 256, @maxlength = 256, @style = "resize: none;" })
        </div>
        <div class="editor-label">
            @Html.LabelForRequired(model => Model.Department1)
        </div>
        <div class="editor-field">
            @Html.EnumDropDownListFor(model => Model.Department1, new { @class = "selectpickerfull" })
        </div>
        <div class="editor-label">
            @Html.LabelForRequired(model => Model.Position1)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => Model.Position1, new { @class = "form-control", @size = 256, @maxlength = 256, @style = "resize: none;" })
        </div>
        <div class="editor-label">
            @Html.LabelForRequired(model => Model.StartDate1)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => Model.StartDate1, UIElementRes.UIElement.DATEFORMAT, new { @class = "datepicker form-control", placeholder = "", startDate = "" })
        </div>
        <div class="editor-label">
            @Html.LabelForRequired(model => Model.Destination1)
        </div>
        <div class="editor-field">
            @Html.EnumDropDownListFor(model => Model.Destination1, new { @class = "selectpickerfull" })
        </div>
        <div class="editor-label">
            @Html.LabelForRequired(model => Model.Term1)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => Model.Term1, new { @class = "form-control bfh-number", @data_max = "365" })
        </div>
        <div class="editor-label">
            @Html.LabelForRequired(model => Model.Amount1)
        </div>
        <div class="editor-field">
            @Html.HiddenFor(model => Model.Amount1)
            <p><em id="amounttext1"></em></p>
        </div>
        <br />
    </div>
    <div class="col-md-3" style="background-color: #eee; border-left: 3px dashed #bdc3c7;">
        <span class="label label-primary rowNum cellAligmentMiddle">2</span>
        <div class="editor-label">
            @Html.LabelForRequired(model => Model.Name2)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => Model.Name2, new { @class = "form-control", @size = 256, @maxlength = 256, @style = "resize: none;" })
        </div>
        <div class="editor-label">
            @Html.LabelForRequired(model => Model.Department2)
        </div>
        <div class="editor-field">
            @Html.EnumDropDownListFor(model => Model.Department2, new { @class = "selectpickerfull" })
        </div>
        <div class="editor-label">
            @Html.LabelForRequired(model => Model.Position2)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => Model.Position2, new { @class = "form-control", @size = 256, @maxlength = 256, @style = "resize: none;" })
        </div>
        <div class="editor-label">
            @Html.LabelForRequired(model => Model.StartDate2)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => Model.StartDate2, UIElementRes.UIElement.DATEFORMAT, new { @class = "datepicker form-control", placeholder = "", startDate = "" })
        </div>
        <div class="editor-label">
            @Html.LabelForRequired(model => Model.Destination2)
        </div>
        <div class="editor-field">
            @Html.EnumDropDownListFor(model => Model.Destination2, new { @class = "selectpickerfull" })
        </div>
        <div class="editor-label">
            @Html.LabelForRequired(model => Model.Term2)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => Model.Term2, new { @class = "form-control bfh-number", @data_max = "365" })
        </div>
        <div class="editor-label">
            @Html.LabelForRequired(model => Model.Amount2)
        </div>
        <div class="editor-field">
            @Html.HiddenFor(model => Model.Amount2)
            <p><em id="amounttext2"></em></p>
        </div>
        <br />
    </div>
    <div class="col-md-3" style="background-color: #eee; border-left: 3px dashed #bdc3c7;">
        <span class="label label-primary rowNum cellAligmentMiddle">3</span>
        <div class="editor-label">
            @Html.LabelForRequired(model => Model.Name3)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => Model.Name3, new { @class = "form-control", @size = 256, @maxlength = 256, @style = "resize: none;" })
        </div>
        <div class="editor-label">
            @Html.LabelForRequired(model => Model.Department3)
        </div>
        <div class="editor-field">
            @Html.EnumDropDownListFor(model => Model.Department3, new { @class = "selectpickerfull" })
        </div>
        <div class="editor-label">
            @Html.LabelForRequired(model => Model.Position3)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => Model.Position3, new { @class = "form-control", @size = 256, @maxlength = 256, @style = "resize: none;" })
        </div>
        <div class="editor-label">
            @Html.LabelForRequired(model => Model.StartDate3)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => Model.StartDate3, UIElementRes.UIElement.DATEFORMAT, new { @class = "datepicker form-control", placeholder = "", startDate = "" })
        </div>
        <div class="editor-label">
            @Html.LabelForRequired(model => Model.Destination3)
        </div>
        <div class="editor-field">
            @Html.EnumDropDownListFor(model => Model.Destination3, new { @class = "selectpickerfull" })
        </div>
        <div class="editor-label">
            @Html.LabelForRequired(model => Model.Term3)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => Model.Term3, new { @class = "form-control bfh-number", @data_max = "365" })
        </div>
        <div class="editor-label">
            @Html.LabelForRequired(model => Model.Amount3)
        </div>
        <div class="editor-field">
            @Html.HiddenFor(model => Model.Amount3)
            <p><em id="amounttext3"></em></p>
        </div>
        <br />
    </div>
    <div class="col-md-3" style="background-color: #eee; border-left: 3px dashed #bdc3c7;">
        <span class="label label-primary rowNum cellAligmentMiddle">4</span>
        <div class="editor-label">
            @Html.LabelForRequired(model => Model.Name4)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => Model.Name4, new { @class = "form-control", @size = 256, @maxlength = 256, @style = "resize: none;" })
        </div>
        <div class="editor-label">
            @Html.LabelForRequired(model => Model.Department4)
        </div>
        <div class="editor-field">
            @Html.EnumDropDownListFor(model => Model.Department4, new { @class = "selectpickerfull" })
        </div>
        <div class="editor-label">
            @Html.LabelForRequired(model => Model.Position4)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => Model.Position4, new { @class = "form-control", @size = 256, @maxlength = 256, @style = "resize: none;" })
        </div>
        <div class="editor-label">
            @Html.LabelForRequired(model => Model.StartDate4)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => Model.StartDate4, UIElementRes.UIElement.DATEFORMAT, new { @class = "datepicker form-control", placeholder = "", startDate = "" })
        </div>
        <div class="editor-label">
            @Html.LabelForRequired(model => Model.Destination4)
        </div>
        <div class="editor-field">
            @Html.EnumDropDownListFor(model => Model.Destination4, new { @class = "selectpickerfull" })
        </div>
        <div class="editor-label">
            @Html.LabelForRequired(model => Model.Term4)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => Model.Term4, new { @class = "form-control bfh-number", @data_max = "365" })
        </div>
        <div class="editor-label">
            @Html.LabelForRequired(model => Model.Amount4)
        </div>
        <div class="editor-field">
            @Html.HiddenFor(model => Model.Amount4)
            <p><em id="amounttext4"></em></p>
        </div>
        <br />
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#Name1').blur(function () {
            if ($('#Name1').val())
                tripUpdate("1");
            else
                tripRemove("1");
        });
        $('#Name2').blur(function () {
            if ($('#Name2').val())
                tripUpdate("2");
            else
                tripRemove("2");
        });
        $('#Name3').blur(function () {
            if ($('#Name3').val())
                tripUpdate("3");
            else
                tripRemove("3");
        });
        $('#Name4').blur(function () {
            if ($('#Name4').val())
                tripUpdate("4");
            else
                tripRemove("4");
        });
    });

    function tripUpdate(blockId) {
        $.ajax({
            type: 'POST',
            url: '/@ViewContext.RouteData.Values["company"]/Custom/UpdateCalcTripMRP/',
            contentType: false,
            processData: false,
            success: function (response) {
                $('#Amount' + blockId).val(response);
                $('#amounttext' + blockId).text(response);
            }
        });
    }

    function tripRemove(blockId) {
        $('#Amount' + blockId).val("");
        $('#amounttext' + blockId).text("");
    }
</script>