@model RapidDoc.Models.ViewModels.USR_REQ_JU_RequestForClosingContract_View
@using RapidDoc.Extensions;

@Html.HiddenFor(model => model.ContractorName)
@Html.HiddenFor(model => model.ContractNumber)
@Html.HiddenFor(model => model.ContractDate)

<div class="editor-label">
    @Html.LabelForRequired(model => Model.UserChooseManual1)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.UserChooseManual1, new { @class = "form-control", @data_role = "tagsinputEmployer", @size = 256, @maxlength = 256, placeholder = "Исполнитель", @autofocus = "required" })
</div>