@model RapidDoc.Models.ViewModels.USR_ORD_BusinessTrip_View
@using RapidDoc.Extensions;

@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.DocumentTableId)
@Html.HiddenFor(model => model.NeedTranslate)
@Html.HiddenFor(model => model.ListAgreement)
@Html.HiddenFor(model => model.ListSubcription)
@Html.HiddenFor(model => model.CountDays)


<div class="editor-label">
    @Html.LabelForRequired(model => Model.Workers)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Workers, new { @class = "form-control", @data_role = "tagsinput", placeholder = "Работник", @autofocus = "required" })
</div>
<hr />
<h4>Сроки командировки:</h4>
<div class="row">
    <div class="col-xs-4">
        <div class="editor-label">
            @Html.LabelForRequired(model => Model.StartDate)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => Model.StartDate, "{0:dd.MM.yyyy}", new { @class = "datepicker form-control", placeholder = "c", startDate = "" })
        </div>
    </div>
    <div class="col-xs-4">
        <div class="editor-label">
            @Html.LabelForRequired(model => Model.EndDate)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => Model.EndDate, "{0:dd.MM.yyyy}", new { @class = "datepicker form-control", placeholder = "по", startDate = "" })
        </div>
    </div>
    <div class="col-xs-4">
        <div class="editor-label">
            @Html.LabelForRequired(model => Model.CountDays)
        </div>
        <div id="diffdays"></div>
    </div>
</div>
<br />
<div class="alert_placeholderDate"></div>

<div class="row">
    <div class="col-xs-6">
        <div class="editor-label">
            @Html.LabelForRequired(model => Model.BusinessTripType)
        </div>
        <div class="editor-field">
            @Html.EnumDropDownListFor(model => Model.BusinessTripType, new { @class = "selectpickerfull" })
        </div>
    </div>
    <div class="col-xs-6">
        <div class="editor-label">
            @Html.LabelForRequired(model => Model.BusinessTripCategory)
        </div>
        <div class="editor-field">
            @Html.EnumDropDownListFor(model => Model.BusinessTripCategory, new { @class = "selectpickerfull" })
        </div>
    </div>
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.GoalTrip)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.GoalTrip, new { @class = "form-control", @row = 2, placeholder = "Цель командировки" })
</div>

<div class="row">
    <div class="col-xs-4">
        <div class="editor-label">
            @Html.LabelForRequired(model => model.CountryTableId)
        </div>
        @Html.Action("GetCountryORD", "Custom", new {@id = Model.CountryTableId })
    </div>
    <div class="col-xs-4">
        <div class="editor-label">
            @Html.LabelForRequired(model => Model.Country)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => Model.Country, new { @class = "form-control", placeholder = "Опционально" })
        </div>
    </div>
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.BusinessTripDestination)
</div>
<div class="editor-field">
    @Html.EnumDropDownListFor(model => Model.BusinessTripDestination, new { @class = "selectpicker" })
</div>

<div class="row">
    <div class="col-xs-2">
        <div class="editor-label">
            @Html.LabelForRequired(model => Model.BusinessTrip_Plane)
        </div>
        <div class="editor-field">
            @Html.CheckBoxFor(model => model.BusinessTrip_Plane)
        </div>
    </div>
    <div class="col-xs-2">
        <div class="editor-label">
            @Html.LabelForRequired(model => Model.BusinessTrip_Train)
        </div>
        <div class="editor-field">
            @Html.CheckBoxFor(model => model.BusinessTrip_Train)
        </div>
    </div>
    <div class="col-xs-2">
        <div class="editor-label">
            @Html.LabelForRequired(model => Model.BusinessTrip_Car)
        </div>
        <div class="editor-field">
            @Html.CheckBoxFor(model => model.BusinessTrip_Car)
        </div>
    </div>
    <div class="col-xs-2">
        <div class="editor-label">
            @Html.LabelForRequired(model => Model.BusinessTrip_Boat)
        </div>
        <div class="editor-field">
            @Html.CheckBoxFor(model => model.BusinessTrip_Boat)
        </div>
    </div>

</div>
<div class="row">
    <div class="col-xs-4">
        <div class="editor-label">
            @Html.LabelForRequired(model => model.OrganizationTableId)
        </div>
        <div class="editor-field">
            @Html.Action("GetOrganizationORD", "Custom", new { @id = Model.OrganizationTableId })
        </div>
    </div>
    <div class="col-xs-4">
        <div class="editor-label">
            @Html.LabelForRequired(model => Model.Organization)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => Model.Organization, new { @class = "form-control", placeholder = "Опционально" })
        </div>
    </div>
</div>
<hr />
<h4>Оплата:</h4>
<div class="row">
    <div class="col-xs-6">
        <div class="editor-label">
            @Html.LabelForRequired(model => Model.Transit)
        </div>
        <div class="editor-field">
            @Html.EnumDropDownListFor(model => Model.Transit, new { @class = "selectpickerfull" })
        </div>
        <div class="editor-label">
            @Html.LabelForRequired(model => Model.Accommodation)
        </div>
        <div class="editor-field">
            @Html.EnumDropDownListFor(model => Model.Accommodation, new { @class = "selectpickerfull" })
        </div>
    </div>
    <div class="col-xs-6">
        <div class="editor-label">
            @Html.LabelForRequired(model => Model.Money)
        </div>
        <div class="editor-field">
            @Html.EnumDropDownListFor(model => Model.Money, new { @class = "selectpickerfull" })
        </div>
        <div class="editor-label">
            @Html.LabelForRequired(model => Model.VisaRequired)
        </div>
        <div class="editor-field">
            @Html.CheckBoxFor(model => model.VisaRequired)
        </div>
    </div>
</div>
<hr />

<div class="row">
    <div class="col-xs-2">
        <div class="editor-label">
            @Html.LabelForRequired(model => Model.OrderDate)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.OrderDate, "{0:dd.MM.yyyy}", new { @class = "datepicker form-control", data_date_format = System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.ShortDatePattern.ToLower(), placeholder = "Дата приказа", startDate = "" })
        </div>
    </div>
    @**<div class="col-xs-2">
        <div class="editor-label">
            @Html.LabelForRequired(model => Model.ControlDate)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.ControlDate, "{0:dd.MM.yyyy}", new { @class = "datepicker form-control", data_date_format = System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.ShortDatePattern.ToLower(), placeholder = "Срок исполнения", startDate = "" })
        </div>
    </div>*@
    <div class="col-xs-8">
        <div class="editor-label">
            @Html.LabelFor(model => model.ItemCauseNumber)
        </div>
        <div class="row">
            <div class="col-xs-2">
                <div class="editor-field">
                    <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target=".itemcause-modal">@UIElementRes.UIElement.Choose...</button>
                </div>
            </div>
            <div class="col-xs-10">
                @Html.HiddenFor(model => Model.ItemCauseTableId)
                <span id="ItemCauseNumber">@Html.DisplayTextFor(model => Model.ItemCauseNumber)</span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="editor-label">
            @Html.LabelForRequired(model => Model.CancelOrder)
        </div>
        <div class="editor-field">
            <div class="row">
                <div class="col-xs-2">
                    <div class="editor-field">
                        @Html.CheckBoxFor(model => model.CancelOrder)
                    </div>
                </div>
                <div class="col-xs-10">
                    <div class="editor-field">
                        @Html.Action("GetRevocationORD", "Custom", new { id = Model.CancelDocumentId, edit = true })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="form-group">
    <div class="input-group">
        <span class="input-group-addon">
            <span class="fa fa-tags fa-lg"></span>
        </span>
        @Html.TextBoxFor(model => Model.Subject, new { @class = "form-control", @size = 256, @maxlength = 256, placeholder = "Тема" })
    </div>
</div>
<h4>БҰЙРЫҚ</h4>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.MainField, new { @class = "form-control summernote" })
</div>
<h4>ПРИКАЗ</h4>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.MainFieldTranslate, new { @class = "form-control summernote" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Sign)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Sign, new { @class = "form-control", @data_role = "tagsinputEmplOne", @size = 256, @maxlength = 256, placeholder = "Подпись" })
</div>

<div class="modal fade itemcause-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sidebar">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">@CustomRes.Custom.ItemCause</h4>
            </div>
            <div class="modal-body" style="min-height:700px;">
                @Html.Action("ItemCausesListLookup", "ItemCause")
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var buttoncancelorderstatus = true;
        $('#CancelOrder').click(function (event) {
            buttoncancelorderstatus = !buttoncancelorderstatus;
            if (buttoncancelorderstatus) {
                document.getElementById('buttoncancelorder').style.visibility = 'hidden';
            } else {
                document.getElementById('buttoncancelorder').style.visibility = 'visible';
            }
        });

        $('.itemcauseslink').click(function (event) {
            var element = $(event.target);
            $('#ItemCauseTableId').val(element.attr('data-itemid'));
            $('#ItemCauseNumber').text(element.text());
        });

       $('#diffdays').html($('#CountDays').val());

        $("[id*='Date']").change(function (event) {
            var pattern = /(\d{2})\.(\d{2})\.(\d{4})/;
            var startDate = new Date($("#StartDate").val().replace(pattern, '$3-$2-$1'));
            var endDate = new Date($("#EndDate").val().replace(pattern, '$3-$2-$1'));
            var diffDays = parseInt((endDate - startDate) / (1000 * 60 * 60 * 24)) + 1;

            if (startDate != null && endDate != null) {
                if (diffDays <= 0) {
                    $('.alert_placeholderDate').html('<div class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Error:</span>' + " Введите корректно даты коммандировки" + '</div>');
                    $('#diffdays').html("");
                    $('#CountDays').val(0);
                } else {
                    $('.alert_placeholderDate').html("");
                    $('#CountDays').val(diffDays);
                    $('#diffdays').html(diffDays);
                }
            }
        });

        $('#CountryTableId').change(function (event) {
            if ($('#CountryTableId').val() == '') {
                $('#Country')[0].disabled = false;
            }
            else {
                $('#Country')[0].disabled = true;
                $('#Country').val('');
            }
        });

        $('#OrganizationTableId').change(function (event) {
            if ($('#OrganizationTableId').val() == '') {
                $('#Organization')[0].disabled = false;
            }
            else {
                $('#Organization')[0].disabled = true;
                $('#Organization').val('');
            }
        });
    });
</script>