@model RapidDoc.Models.ViewModels.USR_REQ_UMM_ProvisionOfZIF_View
@using RapidDoc.Extensions;


@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.DocumentTableId)

@Html.HiddenFor(model => model.Days)
@Html.HiddenFor(model => model.Item)

@Html.HiddenFor(model => model.Department)
@Html.HiddenFor(model => model.FIO)
@Html.HiddenFor(model => model.Telephone)
@Html.HiddenFor(model => model.NameItem)
@Html.HiddenFor(model => model.Amount)
@Html.HiddenFor(model => model.TechType)
@Html.HiddenFor(model => model.UserChooseManual1)

<div class="editor-label">
    @Html.LabelFor(model => Model.Days):
</div>
<div class="editor-field">
    @Html.EnumToDescription(Model.Days)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.Item):
</div>
<div class="editor-field">
    @Html.EnumToDescription(Model.Item)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.Department)
</div>
<div>
    @Html.DisplayTextFor(model => Model.Department)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.FIO)
</div>
<div>
    @Html.HtmlDisplayTagsFor(model => Model.FIO)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.Telephone)
</div>
<div>
    @Html.DisplayTextFor(model => Model.Telephone)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.NameItem)
</div>
<div>
    @Html.DisplayTextFor(model => Model.NameItem)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.TechType)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.TechType)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.Amount)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Amount)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.UserChooseManual1)
</div>
<div>
    @Html.HtmlDisplayTagsFor(model => Model.UserChooseManual1)
</div>


@if (!String.IsNullOrEmpty(Model.MaterialAmount))
{
    @Html.HiddenFor(model => model.MaterialAmount)
    <div class="editor-label">
        @Html.LabelFor(model => Model.MaterialAmount)
    </div>
    <div>
        @Html.DisplayTextFor(model => Model.MaterialAmount)
    </div>
}

@if (!String.IsNullOrEmpty(Model.MaterialWeight))
{
    @Html.HiddenFor(model => model.MaterialWeight)
    <div class="editor-label">
        @Html.LabelFor(model => Model.MaterialWeight)
    </div>
    <div>
        @Html.DisplayTextFor(model => Model.MaterialWeight)
    </div>
}

@if (Model.ActualDate.HasValue && Model.ActualDate != DateTime.MinValue)
{
    @Html.HiddenFor(model => model.ActualDate)
    <div class="editor-label">
        @Html.LabelFor(model => Model.ActualDate)
    </div>
    <div>
        @Html.FormatValue(Model.ActualDate, "{0:dd.MM.yyyy}")
    </div>
}

<div class="editor-label">
    @Html.LabelForRequired(model => Model.ItemId)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.ItemId, new { @class = "form-control", placeholder = "Номенклатурный номер" })
</div>
